
@main(title = "Admin") {

<H1>This is the main portal to the admin section</H1>

<div class="container">
  <h2>Model Objects</h2><h3>Click model object to view list and add, modify and delete entities</h3>
<a href="@routes.PlayerAdmin.playersList()" class="btn btn-primary" role="button">Players</a>
<a href="@routes.QuestionAdmin.questionsList()" class="btn btn-primary" role="button">Questions</a>
<a href="@routes.AnswerAdmin.answersList()" class="btn btn-primary" role="button">Answers</a>
<a href="@routes.CategoryAdmin.categorysList()" class="btn btn-primary" role="button">Player Categories</a>
<a href="#" class="btn btn-primary" role="button">Question Categories</a>
<a href="#" class="btn btn-primary" role="button">Users</a>
<a href="#" class="btn btn-primary" role="button">User Roles</a>
</div>



@*
    			<form method="POST" action="@routes.PlayerAdmin.savePlayer()">
    			
    			<div>
				<label for="playername">Player name</label> <input
						type="text" name="playername" id="playername" class="form-control"/>
				</div>

				<div>
					<label for="playernumber">Player unique identifier number</label> <input
						type="text" name="playernumber" id="playernumber" class="form-control"/>
				</div>

				<br>
				<button class="btn btn-lg btn-primary btn-block">Save</button>
				</form>
				
*@
}


				