
@import tags._

@(user : models.User, active: String, players: List[models.Player],  categories: List[models.Category])

@main(title = "Player Admin") {

@navigationbar(user: models.User, active: String)

@adminNav(active: String)



<div class="container">
  <h2>Players</h2>
 
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player name</th>
        <th>Player number</th>
        <th>Date added</th>
        <th>Player categories</th>
        <th>Player questions</th>
        <th>Photo uploaded</th>
        <th>Edit details</th>
        <th>Add/Edit data</th>
        
      </tr>
    </thead>
    <tbody>
    
    @for(p <- players) {
          <tr>
        <td>@p.playername</td>
        <td>@p.playernumber</td>
        <td>@p.dateadded</td>
        <td>
        @if(p.categories != null || !p.categories.isEmpty()){
        	@for(c <- p.categories){
        		@c.name
        	}
        } else {
        empty
        }
        </td>
        <td>
        @if(p.questions != null || !p.questions.isEmpty()){
        	@for(q <- p.questions){
        		<p>@q.question</p>
        	}
        } else {
        <p>empty</p>
        }
        </td>
        <td>
        @if(p.playerPhoto != null) {
        Yes
        } else {
        None
        }
        </td>
        <td><a href='@routes.PlayerAdmin.editPlayer(p.playernumber)' class="btn btn-info" role="button">Edit Details</a></td>
      <td><a href='@routes.PlayerAdmin.editPlayerData(p.playernumber)' class="btn btn-warning" role="button">Add/Edit Data</a></td>
      </tr>
    
    }

    </tbody>
  </table>
  
  <br>
   <a href="@routes.PlayerAdmin.playerAdd()" class="btn btn-primary" role="button">Add a new player</a>
</div>

 
}