 @import tags._ 
 @(user : models.User, active: String, player: models.Player, users:
List[models.User]) 

@main(title = "Player Admin") { 
@navigationbar(user: models.User, player: models.Player, active: String)
@adminNav(active: String)


<div class="container">
	<h2>Users</h2>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>User email</th>
				<th>User username</th>
				<th>User password</th>
			</tr>
		</thead>
		<tbody>

			@for(u <- users) {
			<tr>
				<td>@u.email</td>
				<td>@u.userName</td>
				<td>@u.password</td>
				<td></td>
				<td></td>
				<td></td>
				<td><a href='@routes.UserAdmin.editUser(u.email)'
					class="btn btn-info" role="button">Edit</a></td>
			</tr>
			}

		</tbody>
	</table>
	<br> <a href="@routes.UserAdmin.newUser()" class="btn btn-primary"
		role="button">Add a new user</a>
</div>
<br>
<br>
<br>
<br>
		@if(flash.get("error") != null){
		<p class="error">@flash.get("error")</p>
		} 
		
		@if((flash.get("success") != null) ){
			<p class="success">@flash.get("success")</p>
		} 
		

<br><br>
<div class="row">

<div class="col-sm-3">
	<form method="POST" action="@routes.Application.uploadCalender()" enctype="multipart/form-data">
 			
		<div>
			<label for="userName">choose the calendar file to upload</label> 
			<input type="file" name="filename" id="filename"/>
		</div>
	
	
		<br>
		<button class="btn btn-lg btn-primary btn-block">Upload calendar file</button>
	</form>
</div>

<div class="col-sm-3">
	<form method="POST" action="@routes.Application.uploadMultipleCSV()" enctype="multipart/form-data">
 			
		<div>
			<label for="userName">choose the practice session data files to upload</label> 
			<input type="file" name="files" multiple id="gpsfiles" size="30"/>
		</div>
	
	
		<br>
		<button class="btn btn-lg btn-primary btn-block">Upload practice session files</button>
	</form>
</div>

<div class="col-sm-3">
	<form method="POST" action="@routes.Application.uploadGamedata()" enctype="multipart/form-data">
 			
		<div>
			<label for="userName">choose the game data files to upload</label> 
			<input type="file" name="gamefiles" multiple id="gamefiles" size="30"/>
		</div>
	
	
		<br>
		<button class="btn btn-lg btn-primary btn-block">Upload game data</button>
	</form>
</div>

<div class="col-sm-3">
	<form method="POST" action="@routes.RedoxController.uploadRedoxCSV()" enctype="multipart/form-data">
 			
		<div>
			<label for="userName">choose the redox data files to upload</label> 
			<input type="file" name="redoxfiles" multiple id="redoxfiles" size="30"/>
		</div>
	
	
		<br>
		<button class="btn btn-lg btn-primary btn-block">Upload redox data</button>
	</form>
</div>
</div> <!-- end row -->
}
