
.rdxviewrow {
	margin-left: 20px;
	margin-right: 20px;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	border: 1px solid #ddd7d4;
	border-radius: 5px;
	
	padding: 10px;
	
	background-color: #fafafa;
}

.rdxcommentrow {
	
	margin-left: 20px;
	margin-right: 20px;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	border: none;
	border-radius: 5px;
	
	padding: 10px;
	
	background-color: none;
	
	
}

.rdxcomment {
/* 	margin-left: 20px; */
/* 	margin-right: 20px; */
	
/* 	margin-top: 10px; */
/* 	margin-bottom: 10px; */
	
	border: 1px solid #ddd7d4;
	border-radius: 5px 25px 5px 25px;
	
	padding: 10px;
	
	background-color: #eee;
}

.resultsshow {
	height: 40px;
	line-height: 40px;
	color: #696540;
	text-align: left;
	vertical-align: middle;
}

.resultstext {
/* 	height: 40px; */
/* 	line-height: 40px; */
	color: #696540;
	text-align: left;
	vertical-align: middle;
}

.resultstexts {
	margin: 0 0 10px;
	color: #696540;
	text-align: left;
	vertical-align: middle;
}

.orrecobullet {
	 margin: 0 auto; 
	 margin-top: 10px;
	 max-width: 25px;
	 height: 25px;
}

.potentialoutcomes {
/* 	height: 40px; */
/* 	line-height: 40px; */
	color: #696540;
	text-align: left;
	vertical-align: middle;
}

.potentialoutcomestext p{
	margin: 0 0 10px;
	color: #696540;
	text-align: left;
	vertical-align: middle;
}

#POTOUTS {
	margin: 0 0 10px;
}

#RESULTSHOW {
	margin: 0 0 10px;
}





.backgrounddiv {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	border: 1px solid #ddd7d4;
	border-top: 0px solid white;
	border-radius: 15px;
	background-color: white;
}

#redoxanswersrow {
	padding-top:20px;
}




.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
	padding: 0px;
}
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
	padding: 0px;
}

.leftcol {
	background-color: #f7f7f7;
	margin-left:35px;
/* 	padding-left:10px; */
/* 	padding-right:10px; */
}

.answersleftcol {
	height: 40px;
	line-height: 40px;
	
	color: #edd058;
	border-bottom: 2px solid lightgrey;
	text-align: left;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}

.rightcol {
	background-color: #fafafa;
	margin-right:35px;
}


.resultsrightcol {
	height: 40px;
	line-height: 40px;
	
	color: #edd058;
/* 	border-bottom: 2px solid lightgrey; */
	text-align: left;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}

.ansheadings {
	height: 40px;
	line-height: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	color: grey;
	border-bottom: 2px solid lightgrey;
	text-align: left;
	vertical-align: middle;
}


.anssubheadings {
	display:inline-block;
	font-size: 12px;
}

.anssubheadingsright {
	display: inline-block;
	float: right;
}
.testauto {
	height: 0px;
}






#EATEN, #TRAINED, #ENERGY, #MUSCLE_SORENESS, #ILL, #INJURED {
	font-size: 13px;
/* 	display:inline-block; */
/* 	height: 40px; */
/* 	line-height: 40px; */
	
}

#EATENVALUE, #TRAINEDVALUE, #MUSCSOREVALUE, #ILLVALUE, #INJUREDVALUE  {
/* 	display:inline-block; */
/*  	float:right; */
/* 	height: 40px; */
/* 	line-height: 40px; */
/* /* 	padding-right:20px; */ */
	font-size: 8px;
}



#NRGVALUE {
	display:inline-block;
 	float:right;
	height: 40px;
	line-height: 40px;
	padding-right:20px;
	font-size: 24px;
}

#MUSCSOREVALUE {
	display:inline-block;
 	float:right;
	height: 40px;
	line-height: 40px;
	padding-right:20px;
	font-size: 24px;
} 

#INJUREDVALUE {
	font-size: 24px;
	}


#MUSCSOREICON {
/* 	margin: 5px auto;  */
	height:30px;
	color:green;
} 


#SYMPTOMS, #EXERCISE {
	height: auto;
}

.glyphicon-question-sign {
	color: grey;
}

.glyphicon-ok {
	color: red;
}

.glyphicon-remove {
	color: green;
}

.glyphicon-exclamation-sign {
	color: red;
}

.mytext {
	color: black;
}

#nrgcliprect {
	rx: 10px;
	ry: 10px;
}

.nrgbackgroundrect {
	fill: #fafafa;
	clip-path: url(#nrgcliprect);
	rx: 10px;
	ry: 10px;
	stroke: grey;
	stroke-width: 2px;
}

.nrgforegroundrect {
	rx: 10px;
	ry: 10px;
	fill: #fda934;
	clip-path: url(#nrgcliprect);
}

#musccliprect {
	rx: 10px;
	ry: 10px;
}

.muscbackgroundrect {
	fill: #fafafa;
	clip-path: url(#musccliprect);
	stroke-width: 2px;
	rx: 10px;
	ry: 10px;
}

.muscforegroundrect {
	rx: 10px;
	ry: 10px;
	fill: #fda934;
	clip-path: url(#musccliprect);
}



.resultsparas {
	font-size: 16px;
	color: grey;
	padding-left:10px;
	margin-bottom:5px;
}

.orrecoss {
	margin-left: 10px;
	margin-right: 30px;
	padding-left:20px;
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
	border-style: dotted none dotted none;
	background-color: #faf5e3;
	
}

#ORRECOSSPIC {
	display:inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	height:100px;
	clip-path: circle(35px at 35px 50px);
}

#ORRECOSSTEXT {
	display:inline-block;
	width: 600px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
}

#ORRECOSSNAME {
	display:inline-block;
	position: relative;
	bottom: 0px;
	right: 100px;
	
}

.POTOUTCOMES {
	height: 255px;
	line-height: 40px;
	color: #edd058;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
	border-right: 2px solid lightgrey;
}



.ACTION {
	height: 255px;
	line-height: 40px;
	color: #edd058;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
}

.ACTIONS {
	color: grey;
	height: 40px;
	line-height: 40px;
}

.table {
	display: table;
  border-collapse: separate;
  border-spacing: 10px;
}


.advicerow {
	padding: 50px;
	display: table-row;
}

.advice {
	background-color: #faf5e3;
	
    border: 2px solid gray;
    margin: 0px;
    border-radius: 10px;
    display: table-cell;
}

