.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
	padding: 0px;
}
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
	padding: 0px;
}

.leftcol {
	background-color: #f7f7f7;
	margin-left:35px;
/* 	padding-left:10px; */
/* 	padding-right:10px; */
}

.answersleftcol {
	height: 40px;
	line-height: 40px;
	
	color: #edd058;
	border-bottom: 2px solid lightgrey;
	text-align: left;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}

.rightcol {
	background-color: #fafafa;
	margin-right:35px;
}


.resultsrightcol {
	height: 40px;
	line-height: 40px;
	
	color: #edd058;
/* 	border-bottom: 2px solid lightgrey; */
	text-align: left;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}

.ansheadings {
	height: 40px;
	line-height: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	color: grey;
	border-bottom: 2px solid lightgrey;
	text-align: left;
	vertical-align: middle;
}


.anssubheadings {
	display:inline-block;
	font-size: 12px;
}

.anssubheadingsright {
	display: inline-block;
	float: right;
}
.testauto {
	height: 0px;
}






#EATEN, #TRAINED, #ENERGY, #MUSCLE_SORENESS, #ILL, #INJURED {
	display:inline-block;
	height: 40px;
	line-height: 40px;
	
}

#EATENVALUE, #TRAINEDVALUE, #MUSCSOREVALUE, #ILLVALUE, #INJUREDVALUE  {
	display:inline-block;
 	float:right;
	height: 40px;
	line-height: 40px;
/* 	padding-right:20px; */
	font-size: 24px;
}

#NRGVALUE {
	display:inline-block;
 	float:right;
	height: 40px;
	line-height: 40px;
	padding-right:20px;
	font-size: 24px;
}

#MUSCSOREVALUE {
	display:inline-block; 
	float:right;
	margin: 5px auto; 
	height:30px;
} 

#MUSCSOREICON {
/* 	margin: 5px auto;  */
	height:30px;
	color:green;
} 


#SYMPTOMS, #EXERCISE {
	height: auto;
}

.glyphicon-question-sign {
	color: grey;
}

.glyphicon-ok {
	color: red;
}

.glyphicon-remove {
	color: green;
}

#nrgcliprect {
	rx: 10px;
	ry: 10px;
}

.nrgbackgroundrect {
	fill: #e2e2e2;
	clip-path: url(#nrgcliprect);
/* 	rx: 10px; */
/* 	ry: 10px; */
}

.nrgforegroundrect {
/* 	rx: 10px; */
/* 	ry: 10px; */
	fill: #fda934;
	clip-path: url(#nrgcliprect);
}

#RESULTSHOW {
	min-height: 75px;
}

.resultsparas {
	font-size: 16px;
	color: grey;
	padding-left:10px;
	margin-bottom:5px;
}

.orrecoss {
	margin-left: 10px;
	margin-right: 30px;
	padding-left:20px;
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
	border-style: dotted none dotted none;
	background-color: #faf5e3;
	
}

#ORRECOSSPIC {
	display:inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	height:100px;
	clip-path: circle(35px at 35px 50px);
}

#ORRECOSSTEXT {
	display:inline-block;
	width: 600px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 50px;
}

#ORRECOSSNAME {
	display:inline-block;
	position: relative;
	bottom: 0px;
	right: 100px;
	
}

.POTOUTCOMES {
	height: 255px;
	line-height: 40px;
	color: #edd058;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
	border-right: 2px solid lightgrey;
}

.POTOUTS {
	color: grey;
	height: 40px;
	line-height: 40px;
}

.ACTION {
	height: 255px;
	line-height: 40px;
	color: #edd058;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
}

.ACTIONS {
	color: grey;
	height: 40px;
	line-height: 40px;
}

.table {
	display: table;
  border-collapse: separate;
  border-spacing: 10px;
}


.advicerow {
	padding: 50px;
	display: table-row;
}

.advice {
	background-color: #faf5e3;
	
    border: 2px solid gray;
    margin: 0px;
    border-radius: 10px;
    display: table-cell;
}

