#rdxcliprect {

	rx: 20;
	ry: 20;
}



.defenceline {
	clip-path: url(#rdxclip);
	stroke-width: 1;
	stroke: blue;
	fill: none;
}
.defenceadjline {
	clip-path: url(#rdxclip);
	stroke-width: 1;
	stroke: blue;
	stroke-dasharray: 10 5;
	fill: none;
}
.DEFENCE {
	stroke: blue;
	opacity: 1;
}
.stressline {
	clip-path: url(#rdxclip);
	stroke-width: 1;
	stroke: purple;
	fill: none;
}
.stressadjline {
	clip-path: url(#rdxclip);
	stroke-width: 1;
	stroke: purple;
	stroke-dasharray: 10 5;
	fill: none;
}

.ctxlinerect{
	stroke: #fafafa;
	stroke-width: 2px;
	fill: #fbfbfb;
/* 	rx: 20; */
/* 	ry: 20; */
}

.STRESS {
	stroke: purple;
	opacity: 1;
}

.STRESSCTX {
	stroke: white;
	stroke-width: 0px;
	opacity: 1;
}

.CTXGROUP {
	clip-path: url(#rdxclip);
}


.STRESSGROUP {
 	clip-path: url(#rdxclip);
}
.DEFENCEGROUP {
 	clip-path: url(#rdxclip);
}


.Rdxaxis--y {
	clip-path: url(#rdxclip);
}

.rdxbackgroundrect {
	stroke: #ddd7d4;
	stroke-width: 1px;
	fill: #f4f2f1;
	rx: 20;
	ry: 20;
	
}

.rdxdangerzone {
	clip-path: url(#rdxdangerclip);
/* 	fill: #FBC8B6; */
	fill: #f0cec2;
	fill-opacity: 0.5;
	
}

.rdxamberzone {
	clip-path: url(#rdxclip);
	fill: #ffd966;
	fill-opacity: 0.5;
}

.rdxsafezone {
	clip-path: url(#rdxclip);
	fill: #B3FFB3;
	fill-opacity: 0.5;
}

.verticallines {
	clip-path: url(#rdxclip);
	stroke-width : 1px;
	stroke: #e6e6e6;
}

.CTXhighlight {
 	clip-path: url(#rdxclip);
	stroke-width : 2px;
	stroke: white;
}

.CTXcircles {
	fill: none;
	stroke: #e6e6e6;
}

