@import be.objectify.deadbolt.java.views.html.{restrict, restrictOr}
@import be.objectify.deadbolt.java.utils.TemplateUtils.{allOf, anyOf, allOfGroup}
@import tags._
@(user : models.User, active: String, player: models.Player, playerIndex: Integer, players: List[models.Player], category:String, categories: List[models.Category])


@main(title = "CoachCentral") {
    
    <div class="container-fluid" id="outer_container" style="background-color: #FBFBFB">
    @navigationbar(user: models.User, player: models.Player, active: String)
    
    <style> 
#player_icon {
  position: relative;
  perspective: 1000;
}
#player_icon_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  
   -webkit-animation-name: player_icon_flip; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: player_icon_flip;
    animation-duration: 12s;
     animation-delay: 2s;
/*      animation-direction: alternate; */
    animation-iteration-count: 2;
  
}
@@-webkit-keyframes player_icon_flip {
	10% { transform: rotateY(180deg);}
	20% { transform: rotateY(0deg);}
	60% { transform: rotateY(0deg);}
	70% { transform: rotateY(180deg);}
	80% { transform: rotateY(0deg);}
}
#player_icon:hover #player_icon_card {
-webkit-animation: none;
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: red;
  text-align: center;
  background-color: #aaa;
}
</style>
<!-- <div class="container-fluid" id="groupings_toggle_buttons"> -->
<!-- 	<div> -->
<!-- 	@for(c <- categories) { -->
<!-- 		@if(c.name.equals(category)){ -->
<!-- 		<a href="@routes.Application.dashboard(player.playernumber, c.name)" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">@c.name</span></a> -->
<!-- 		} else { -->
<!-- 		<a href="@routes.Application.dashboard(player.playernumber, c.name)" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">@c.name</span></a> -->
<!--    		} -->
<!-- 	} -->
<!-- 	</div> -->
<!-- </div> -->
<div class="row" id ="player_carousel">
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center">
	  
	  <div class="btn-group btn-group-justified">
	  
	   @if(players.size() > 5){
	   
	   <a href='@routes.Application.dashboard(players.get(Math.floorMod((playerIndex - 4), players.size())).playernumber, category)' class="btn btn-default"  class="thumbnail" style="margin-bottom: 0px; border:none;">
						<div >
					
						</div>
						<div class="text-nowrap" style="text-align: center;">
							<<
						</div>
					</a>
	   }
	   
	  
	  @if(players.size() > 5){
	  
	  		@player_icon(players.get(Math.floorMod((playerIndex - 3), players.size())), category, active)
	  		
	  }
	  
	  @if(players.size() > 3){
	  		@player_icon(players.get(Math.floorMod((playerIndex - 2), players.size())), category, active)
	  }
	  
	  @if(players.size() > 1){
	  		@player_icon(players.get(Math.floorMod((playerIndex - 1), players.size())), category, active)
	  }
	
	  </div>
	  </div>
	  
	  
	  
	  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="player_icon">
	  	<div id="player_icon_card">
	  		<div class="front face">
	  		
	  			<h4 style="margin-bottom: 5px; margin-top:5px;">
	  			
					<a href="@routes.RedoxController.redoxQ(player.playernumber, category)" class="thumbnail" style="margin-bottom: 0px;">
						<div>
						
						@if(player.playerPhoto != null){
							<img class="img-responsive" src="@routes.Application.playerPhoto(player.id)" alt="" style="margin: 0 auto; max-width:150px;height:150px"/>
						} else {
							<img class="img-responsive" src='@routes.Assets.at("images/player-headshot.png")' alt="" style="margin: 0 auto; max-width:150px;height:150px;"/>
						}
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							@player.playername
						</div>
					</a>
				</h4>
			</div> <!-- end front face -->
			
			<div class="back face">
				<h4 style="margin-bottom: 5px; margin-top:5px;">
	  			
					<a href="@routes.RedoxController.redoxQ(player.playernumber, category)" class="thumbnail" style="margin-bottom: 0px; text-decoration:none;">
						
						<div>
						
						@if(player.playerPhoto != null){
							<img class="img-responsive" src="@routes.Application.playerPhoto(player.id)" alt="" style="margin: 0 auto; max-width:50px;height:50px"/>
						} else {
							<img class="img-responsive" src='@routes.Assets.at("images/player-headshot.png")' alt="" style="margin: 0 auto; max-width:50px;height:50px;"/>
						}
						
						<table style="text-align:left; font-family:arial; font-size:15px;">
							<tr>
								<td>Position</td><td>@player.position</td>
							</tr>
							<tr>
								<td>DoB</td><td>@player.dob</td>
							</tr>
							<tr>
								<td>Height</td><td>@player.height</td>
							</tr>
							<tr>
								<td>Weight</td><td>@player.weight</td>
							</tr>
						</table>
						
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							@player.playername
						</div>
				
        				
						
					</a>
				</h4>
			</div><!-- end back face -->
			</div>
	  </div>
	  
	  
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center"></p>
	 
	 	<div class="btn-group btn-group-justified">
	 		
	 @if(players.size() > 2){
	 	@player_icon(players.get(Math.floorMod((playerIndex + 1), players.size())), category, active)
	 }
	 
	  @if(players.size() > 4){
	  	@player_icon(players.get(Math.floorMod((playerIndex + 2), players.size())), category, active)
	 }
	 
	  @if(players.size() > 6){
	  	@player_icon(players.get(Math.floorMod((playerIndex + 3), players.size())), category, active)
	 }
	 
	  @if(players.size() > 6){
	 		<a href='@routes.Application.dashboard(players.get(Math.floorMod((playerIndex + 4), players.size())).playernumber, category)' class="btn btn-default" class="thumbnail" style="margin-bottom: 0px;  border:none;">
					
			<div class="text-nowrap" style="text-align: center;">
				>>
				
			</div>		
			</a>
	 }
	 	</div>
	 	
	  </div>
	  
	  
</div><!-- end div player carousel -->
<!-- the panel below the pagination carousel -->
	
<div class="chart" class="container-fluid" id="main_chart"  style="border:1px solid #cecece; border-radius: 20px;
																	margin:20px;
																	background-color: white;
																	box-shadow: 0px 0px 10px grey;">
	<div class="chart_upper" class="row" id="chart_upper" >
	
	</div>
	<div class="chart_centre" class="row" id="chart_centre">
	<svg id="gpsdatasvg"></svg>
	<svg id="schedulesvg"></svg>
	<svg id="contextsvg"></svg>
	</div>
	<div class="chart_lower" class="row" id="chart_lower">
		
	</div>
</div>
</div><!-- end  outer container-->

<script src="@routes.Assets.at("javascripts/ChartHelperMethods.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/TooltipTables.js")" type="text/javascript"></script>
<script>
var acuteloadupperthreshold = 1.5,
	acuteloadlowerthreshold = 0.8,
	amberzone = 0.1;
	
// //Adds the svg canvas
var windowHeight = window.innerHeight|| e.clientHeight|| g.clientHeight;

var windowwidth = parseInt(d3.select('#main_chart').style('width'), 10);

var max_gpssvg_h = 500,
	max_schedsvg_h = 50,
	max_rdxsvg_h = 400;
	

	
	
var	gpsdatasvg_h = Math.max(((windowHeight/2)), max_gpssvg_h),
	schedpane_h = Math.max(((windowHeight/32)), max_schedsvg_h),
	redoxpane_h = Math.max(((windowHeight/8)), max_rdxsvg_h);

var gpsdatasvg = d3.select("#gpsdatasvg").attr("width", windowwidth).attr("height", gpsdatasvg_h),
	gps_margin = {top: 20, right: 20, bottom: 20, left: 20},
	width = +gpsdatasvg.attr("width") - gps_margin.left - gps_margin.right,
	height = +gpsdatasvg.attr("height") - gps_margin.top - gps_margin.bottom;
	
var schedulesvg = d3.select("#schedulesvg").attr("width", windowwidth).attr("height", schedpane_h),
	sch_margin = {top: 0, right: 20, bottom: 0, left: 20},
	height4 = +schedulesvg.attr("height") - sch_margin.top - sch_margin.bottom;
	
	
var contextsvg = d3.select("#contextsvg").attr("width", windowwidth).attr("height", 100),
	context_margin = {top: 20, right: 20, bottom: 30, left: 20},
	height2 = +contextsvg.attr("height") - context_margin.top - context_margin.bottom;
	
	
	
var xfocus = d3.scaleTime().range([0, width]),
	yfocus = d3.scaleLinear().range([height, 0]),
	yfocus1 = d3.scaleLinear().range([height, 0]);
	yfocus2 = d3.scaleLinear().range([height, 0]);
	
var xcontext = d3.scaleTime().range([0, width]),
	ycontext = d3.scaleLinear().range([height2, 0]);
	
var xAxis = d3.axisBottom(xfocus);
var xAxis2 = d3.axisBottom(xcontext).tickArguments([d3.timeMonth]);
var yAxis = d3.axisLeft(yfocus).tickSize(-width, 0, 0).tickFormat("");
var yAxisRdx = d3.axisLeft(yfocus2).tickArguments([5, "s"]).tickSize(-width, 0, 0).tickPadding([-25]);

var brush = d3.brushX()
.extent([[0, 0], [width, height2]])
.on("brush end", brushed);

var zoom = d3.zoom()
.scaleExtent([1, 600])
.translateExtent([[0, 0], [width, height]])
.extent([[0, 0], [width, height]])
.on("zoom", zoomed);

var contextarea = d3.area()
.curve(d3.curveMonotoneX)
.x(function(d) { return xcontext(d.SESS_START); })
.y0(height2)
.y1(function(d) { return ycontext(d.SESS_LOAD); });

gpsdatasvg.append("defs").append("clipPath")
.attr("id", "gpsclip")
.append("rect")
.attr("id", "gpscliprect")
.attr("width", width)
.attr("height", height);

schedulesvg.append("defs").append("clipPath")
.attr("id", "schedclip")
.append("rect")
.attr("id", "schcliprect")
.attr("width", width)
.attr("height", height4);

contextsvg.append("defs").append("clipPath")
.attr("id", "ctxclip")
.append("rect")
.attr("id", "ctxcliprect")
.attr("width", width)
.attr("height", height2)
.attr("rx", 10)
.attr("ry",10);




var focus = gpsdatasvg.append("g")
.attr("class", "focus")
.attr("transform", "translate(" + gps_margin.left + "," + gps_margin.top + ")");

var schedule = schedulesvg.append("g")
.attr("class", "schedulearea")
.attr("transform", "translate(" + sch_margin.left + "," + sch_margin.top + ")");

var context = contextsvg.append("g")
.attr("class", "contextarea")
.attr("transform", "translate(" + context_margin.left + "," + 0 + ")");




var RDXview_state = true;
var ACview_state = true;
var LOADview_state = true;
var OTHERSview_state = true;


var jan2016 = new Date(2016, 0, 1);
var apr2016 = new Date(2016, 3, 1);
var threeMonthsAhead = new Date(Date.now() + 90*24*3600*1000);
var threeweeksago = new Date(Date.now() + -21*24*3600*1000);
var oneweekahead = new Date(Date.now() + 7*24*3600*1000);
var xl = threeweeksago, 
	xr = oneweekahead;
var today = new Date();
//called whenever mouse hovers over a data point
// loading data
d3.csv('@routes.Application.getCSV(player.playernumber)', function(error, data) {
if (error) throw error;
// the starting point of the context pane
var lastsep = new Date(Date.now() + -180*24*3600*1000);
var now = new Date();
	data.today = today;
	data.threeweeksago = threeweeksago;
	data.oneweekahead = oneweekahead;
	data.forEach(function(d) {
		d.date = new Date((+d.SESS_START)*1000);
		d.SESS_LOAD = (+d.SESS_LOAD);
		d.SESS_START = new Date((+d.SESS_START)*1000);
		d.SESS_END = new Date((+d.SESS_END)*1000);
		
		d.PRE_LOAD = (+d.PRE_LOAD);d.PRE_START = new Date((+d.PRE_START)*1000);d.PRE_END = new Date((+d.PRE_END)*1000);
		
		d.PRACT_LOAD = (+d.PRACT_LOAD);d.PRACT_START = new Date((+d.PRACT_START)*1000);d.PRACT_END = new Date((+d.PRACT_END)*1000);
		
		d.POST_LOAD = (+d.POST_LOAD);d.POST_START = new Date((+d.POST_START)*1000);d.POST_END = new Date((+d.POST_END)*1000);
		
		d.ACCEL_TOTAL = (+d.ACCEL_TOTAL);d.DECEL_TOTAL = (+d.DECEL_TOTAL);
		
		d.COD_L_LO = (+d.COD_L_LO);d.COD_L_MED = (+d.COD_L_MED);d.COD_L_HI = (+d.COD_L_HI);
		d.COD_R_LO = (+d.COD_R_LO);d.COD_R_MED = (+d.COD_R_MED);d.COD_R_HI = (+d.COD_R_HI);
		
		d.JUMP_LO = (+d.JUMP_LO);d.JUMP_MED = (+d.JUMP_MED);d.JUMP_HI = (+d.JUMP_HI);
		
		d.HR_EXERT = ((+d.HR_EXERT)/10);
		
		d.GAME_LOAD = (+d.GAME_LOAD);d.GAME_MINS = (+d.GAME_MINS);
		
		d.SQUAD_AVG = (+d.SQUAD_AVG);
		
		d.ACUTE = (+d.ACUTE);d.CHRONIC = (+d.CHRONIC);
	});
	
	
	xcontext.domain([jan2016, threeMonthsAhead]);
	ycontext.domain([0, d3.max(data, function(d) { return d.SESS_LOAD; })]);
	xfocus.domain(xcontext.domain());
	yfocus.domain([0, 1500]);
	yfocus1.domain([1500, 0]);
	
	
	checkcookie();
	
	
	
// drawing graph elements

		gpsdatasvg.attr("height", gpsdatasvg_h);
		focus = gpsdatasvg.append("g").attr("class", "focus").attr("transform", "translate(" + gps_margin.left + "," + gps_margin.top + ")");
		drawGPS(data);
		redrawChart();

	//drawGPS(data);
	drawGPSButtons(data);
	
context.append("rect").attr("class", "backgroundrect").attr("width", width).attr("height", height2);
context.append("g").attr("class", "axis axis--x").attr("transform", "translate(0," + height2 + ")").call(xAxis2);
context.append("path").datum(data).attr("class", "contextarea").attr("d", contextarea);
context.append("g").attr("class", "brush").call(brush) .call(brush.move, xfocus.range());
context.select(".brush").append("rect").attr("class", "leftbookend").attr("width", xl).attr("height", height2);
context.select(".brush").append("rect").attr("class", "rightbookend").attr("width", width).attr("height", height2);
gpsdatasvg.select(".zoom").call(zoom.transform, d3.zoomIdentity.scale(width / (xr - xl)).translate(-xl, 0));
//redoxsvg.select(".zoom").call(zoom.transform, d3.zoomIdentity.scale(width / (xr - xl)).translate(-xl, 0));

 
}); // end of d3 csv loader








function drawGPS(data) {
	
	focus.append("rect")
	.attr("class", "backgroundrect").attr("width", width).attr("height", height + 25);
	
	//the axes
	focus.append("g").attr("class", "axis axis--x").attr("transform", "translate(0," + height + ")").call(xAxis);
	focus.append("g").attr("class", "axis axis--y").call(yAxis);
	//the cod areas
	focus.append("path").datum(data).attr("class", "cod_l_lo").attr("id", "cod_l_lo").attr("d", cod_l_lo_area);
	focus.append("path").datum(data).attr("class", "cod_l_med").attr("id", "cod_l_med").attr("d", cod_l_med_area);
	focus.append("path").datum(data).attr("class", "cod_l_hi").attr("id", "cod_l_hi").attr("d", cod_l_hi_area);
	focus.append("path").datum(data).attr("class", "cod_r_lo").attr("id", "cod_r_lo").attr("d", cod_r_lo_area);
	focus.append("path").datum(data).attr("class", "cod_r_med").attr("id", "cod_r_med").attr("d", cod_r_med_area);
	focus.append("path").datum(data).attr("class", "cod_r_hi").attr("id", "cod_r_hi").attr("d", cod_r_hi_area);
	// the jumps
	focus.append("path").datum(data).attr("class", "jump_lo").attr("id", "jump_lo").attr("d", jump_lo_area);
	focus.append("path").datum(data).attr("class", "jump_med").attr("id", "jump_lo").attr("d", jump_med_area);
	focus.append("path").datum(data).attr("class", "jump_hi").attr("id", "jump_lo").attr("d", jump_hi_area);
	//the squad average rects
	focus.selectAll('squadavgrectangles')
	.data(data).enter().append("rect").filter(function(d) { return d.SQUAD_AVG > 0})
	.attr("class", "squad_avg").attr("id", "squad_avg")
	.attr("x", function(d) {	return (xfocus(d.SESS_START) - 5);})
	.attr("y", function(d){		return height - yfocus(d.SQUAD_AVG);})
	.attr("width", function(d){	return (((xfocus(d.SESS_END) - xfocus(d.SESS_START)) + 10));})
	.attr("height", function(d){return 1;});
	//the chronic load area
	focus.append("path").datum(data).attr("class", "ChronicLoad").attr("id", "ChronicLoad").attr("d", chronicloadarea(height));
	//the acute load line graphline(d, xScale, yScale, xvar, yvar)
	focus.append("path").datum(data).attr("class", "ACLoad").attr("id", "ACLoad").attr("d", acuteline);
	//be careful where u place this rect
	focus.append("rect").attr("class", "zoom").attr("width", width).attr("height", height).call(zoom);
	
	// adding the flags along the acute line
	focus.append("g").attr("class", "alerttriangles")
	.selectAll().data(data).enter().append("path")
	.attr("class", "UPFlags").attr("id", "UPFlags")
	.filter(function(d){ return d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) | d.ACUTE < (d.CHRONIC * acuteloadlowerthreshold) ? d.ACUTE : null;})
	.attr("d", d3.symbol().type(d3.symbolTriangle).size(20))
	.attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (yfocus(d.ACUTE) + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 5 : -5)) + ") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 90) + ")"});
		
	// add sensor circles (dots) to the Acute Load line
	focus.selectAll("dot").data(data).enter().append("circle")
	.attr("id", "ACLoadDot").attr("r", 20).style("opacity", 0)
	.attr("cx", function(d) { return xfocus(d.SESS_START); })
	.attr("cy", function(d) { return yfocus(d.ACUTE); })
	.on("mouseover", function(d) {
		acutetooltip.transition().duration(200)
			.style("opacity", 0.9).style("color", "red").style("background", "rgba(255,0,0, 0.1)").style("border-color", "red");
		acutetooltip .html("Acute : " + (parseInt(d.ACUTE)))
			.style("left", (d3.event.pageX) + "px").style("top", (d3.event.pageY -50) + "px");
		})
	.on("mouseout", function(d) {       
		acutetooltip.transition().duration(500).style("opacity", 0);
	});
	
	
	//the load line
	focus.append("path").datum(data).attr("class", "load").attr("id", "load").attr("d", sessloadline);
		
	//the heartrate line
	focus.append("path").datum(data).attr("class", "heartrate").attr("id", "heartrate").attr("d", heartrateline);
	// the accel load line
	focus.append("path").datum(data).attr("class", "accel").attr("id", "accel").attr("d", accelline);
	// the decel load line
	focus.append("path").datum(data).attr("class", "decel").attr("id", "decel").attr("d", decelline);
	// the pre practice rects
	focus.selectAll('prepracticerectangles')
	.data(data).enter().append("rect")
	.attr("class", "prepracticeload").attr("id", "prepracticeload")
		.attr("x", function(d) {	return xfocus(d.PRE_START);})
		.attr("y", function(d){		return height - yfocus1(d.PRE_LOAD);})
		.attr("width", function(d){	return (xfocus(d.PRE_END) - xfocus(d.PRE_START));})
		.attr("height", function(d){return yfocus1(d.PRE_LOAD);});
	// the practice rects
	focus.selectAll('practicerectangles')
	.data(data).enter().append("rect")
	.attr("class", "practiceload").attr("id", "practiceload")
		.attr("x", function(d) {	return xfocus(d.PRACT_START);})
		.attr("y", function(d){		return height - yfocus1(d.PRACT_LOAD)  - yfocus1(d.PRE_LOAD);})
		.attr("width", function(d){	return (xfocus(d.PRACT_END) - xfocus(d.PRACT_START));})
		.attr("height", function(d){return yfocus1(d.PRACT_LOAD);});
	
	// the post practice rects
	focus.selectAll('postpracticerectangles')
	.data(data).enter().append("rect")
	.attr("class", "postpracticeload").attr("id", "postpracticeload")
	.attr("x", function(d) {	return xfocus(d.POST_START);})
	.attr("y", function(d){		return height -yfocus1(d.POST_LOAD) - yfocus1(d.PRACT_LOAD) - yfocus1(d.PRE_LOAD);})
	.attr("width", function(d){	return (xfocus(d.POST_END) - xfocus(d.POST_START));})
	.attr("height", function(d){return yfocus1(d.POST_LOAD);});
	// the session rects
	focus.selectAll('sessionrect')
	.data(data).enter().append("rect")
	.attr("class", "sessionload").attr("id", "sessionload")
	.attr("x", function(d) {	return xfocus(d.SESS_START);})
	.attr("y", function(d){		return height - yfocus1(d.SESS_LOAD);})
	.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
	.attr("height", function(d){return yfocus1(d.SESS_LOAD);})
	.on("mouseover", function(d) {
		tooltip.transition()
			.duration(200)
			.style("opacity", 0.9).style("color", "blue").style("background", "rgba(128,0,128, 0.1)").style("border-color", "purple");
		tooltip .html("Session Load........ " + (d.SESS_LOAD) +"<br><br>" 
					+ "Pre Practice Load... " + (d.PRE_LOAD) +"<br><br>"
					+ "Practice Load....... " + (d.PRACT_LOAD) +"<br><br>"
					+ "Post Practice Load.. " + (d.POST_LOAD) )
			.style("left", (d3.event.pageX + 20) + "px").style("top", (d3.event.pageY -150) + "px");})
	.on("mouseout", function(d) {       
		tooltip.transition()        
	        .duration(500)      
	        .style("opacity", 0);
	})
	.on("click", function(d) {
		// remove the tooltip
		tooltip.style("opacity", 0);
		gametip.transition().duration(100).style("opacity", 0);
		datatip.transition().duration(100)
		.style("opacity", 0.9).style("color", "#2F4F4F").style("border-color", "#778899");
		datatip .html(datatiptable(d))
		.style("left", (d3.event.pageX) + "px").style("top", (d3.event.pageY -250) + "px");
	});
	
	// the game rects
	focus.selectAll('gameloadrect')
	.data(data).enter().append("rect")
	.attr("class", "gameload").attr("id", "gameload")
	.attr("x", function(d) {	return xfocus(d.SESS_START);})
	.attr("y", function(d){		return height - yfocus1(d.GAME_LOAD);})
	.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
	.attr("height", function(d){return yfocus1(d.GAME_LOAD);})
	.on("mouseover", function(d) {
		tooltip.transition()
			.duration(200)
			.style("opacity", 0.9).style("color", "blue").style("background", "rgba(128,0,128, 0.1)").style("border-color", "purple");
		tooltip .html("Game Load " + (d.GAME_LOAD) +"<br>" 
					+ "Minutes.. " + (d.GAME_MINS) +"<br>"
					+ "Points... " + (d.POINTS) +"<br>"
					+ "Rebounds. " + (d.REBOUNDS) +"<br>"
					+ "Assists.. " + (d.ASSISTS) +"<br>"
					+ "Steals... " + (d.STEALS) +"<br>"
					+ "Blocks... " + (d.BLOCKS) +"<br>"
					+ "Fouls.... " + (d.FOULS) )
			.style("left", (d3.event.pageX + 20) + "px").style("top", (d3.event.pageY -150) + "px");})
	.on("mouseout", function(d) {       
		tooltip.transition()        
	        .duration(500)      
	        .style("opacity", 0);
	})
	.on("click", function(d) {
		// remove the tooltip
		tooltip.style("opacity", 0);
		datatip.transition().duration(100).style("opacity", 0);
		gametip.transition().duration(100)
		.style("opacity", 0.9).style("color", "#2F4F4F").style("border-color", "#778899").style("background-color", "#74DB88");
		gametip .html(gametiptable(d))
		.style("left", (d3.event.pageX) + "px").style("top", (d3.event.pageY -250) + "px");
	});
	// adding the marker for today
	focus.append("path").attr("class", "now_marker").attr("id", "now_marker")
	.attr("d", d3.symbol().type(d3.symbolDiamond).size(200))
	.attr("transform", function(d) { return "translate(" + xfocus(today) + "," + height + ")" });
	
	
	
	// ******NB Note that this code must stay in the GPS part although it is added to the schedule apart
	//the past game text
	schedule.append("g").attr("class", "gameresulttext")
	.selectAll(".gameresulttxt").data(data).enter().append("text")
	.attr("id", "gameresulttxt")
	.attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (height4 - 10) + ")";})
	.attr("x", 5)
	.text( function (d) { return d.WIN_LOSS == "W" ? "W" : "L";});
	
	
	
} // end drawGPS()




function drawGPSButtons(data){
	
	
	
	var AC_showhide_button = gpsdatasvg.append("g").attr("class", "AC_Button")
		.attr("transform", "translate("+ ((width/15)*1) + "," + 30 + ")");
	
	AC_showhide_button.append("text").attr("id", "acbutton").attr("x", 8).attr("y", 15).attr("fill", "#464640").text("-A:C");
	var actextWidth = AC_showhide_button.select("text").node().getBBox().width;
	AC_showhide_button.append("rect").attr("rx", 8).attr("ry", 8)
    .attr("width", actextWidth + 20).attr("height", 20)
    .attr("class", "acshowhidebutton").attr("id", "AC_Button") 
    .on("click", function(){
    	
    	//showhide the AC graphlines
    	ACview_state = !ACview_state;
    	d3.select(".acshowhidebutton").style("stroke-width", ACview_state ? 1 : 0);
    	if(ACview_state){
    		focus.select(".ChronicLoad").transition(d3.easeCubic).duration(1000).attr("d", chronicloadarea(height));
    		focus.select(".ACLoad").transition(d3.easeCubic).duration(1000).attr("d", acuteline);
    		focus.selectAll("#UPFlags").transition(d3.easeCubic).duration(1000).attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (yfocus(d.ACUTE) + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 5 : -5)) + ") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 180) + ")"});
    		focus.selectAll("#ACLoadDot").attr("cx", function(d) { return xfocus(d.SESS_START); }).attr("cy", function(d) { return yfocus(d.ACUTE); });
    		
    	} else {
    		focus.select(".ChronicLoad").transition(d3.easeCubic).duration(1000).attr("d", chronicloadarea2(height));
    		focus.select(".ACLoad").transition(d3.easeCubic).duration(1000).attr("d", acuteline2(height));
    		focus.selectAll("#UPFlags").transition(d3.easeCubic).duration(1000).attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + ","+ height +") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 180) + ")"});
    		focus.selectAll("#ACLoadDot").attr("cx", function(d) { return xfocus(d.SESS_START); }).attr("cy", height);
    		
		}
		d3.selectAll("#acbutton").text(function(d) {return ACview_state ? "-A:C" : "+A:C";});        	
		});
	
	
	
	
	
	var LOADS_showhide_button = gpsdatasvg.append("g").attr("class", "LOAD_Button")
	.attr("transform", "translate("+ ((width/15)*2) + "," + 30 + ")");

	LOADS_showhide_button.append("text").attr("id", "loadbutton").attr("x", 8).attr("y", 15).attr("fill", "#464640").text("-LOD");
	var actextWidth = LOADS_showhide_button.select("text").node().getBBox().width;
	LOADS_showhide_button.append("rect").attr("rx", 8).attr("ry", 8)
	.attr("width", actextWidth + 20).attr("height", 20)
	.attr("class", "loadshowhidebutton").attr("id", "LOAD_Button") 
	.on("click", function(){
		
		//showhide the AC graphlines
		LOADview_state = !LOADview_state;
		
		
		d3.select(".loadshowhidebutton").style("stroke-width", LOADview_state ? 1 : 0);
		if(LOADview_state){
			focus.select(".load").transition(d3.easeCubic).duration(1000).attr("d", sessloadline);
		 	focus.selectAll('#sessionload')
		 	.transition(d3.easeCubic).duration(1000)
		 	//.attr("x", function(d) {	return xfocus(d.SESS_START);})
		 	.attr("y", function(d){		return height - yfocus1(d.SESS_LOAD);})
		 	//.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
		 	.attr("height", function(d){return yfocus1(d.SESS_LOAD);})
		 	
		 	focus.selectAll('#prepracticeload')
		 	.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height - yfocus1(d.PRE_LOAD);})
			.attr("height", function(d){return yfocus1(d.PRE_LOAD);});
			
		 	focus.selectAll('#practiceload')
		 	.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height - yfocus1(d.PRACT_LOAD)  - yfocus1(d.PRE_LOAD);})
			.attr("height", function(d){return yfocus1(d.PRACT_LOAD);});
		 	
		 	focus.selectAll('#postpracticeload')
		 	.transition(d3.easeCubic).duration(1000)
		 	.attr("y", function(d){		return height -yfocus1(d.POST_LOAD) - yfocus1(d.PRACT_LOAD) - yfocus1(d.PRE_LOAD);})
		 	.attr("height", function(d){return yfocus1(d.POST_LOAD);});
		 	
			focus.selectAll('#gameload')
			.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height - yfocus1(d.GAME_LOAD);})
			.attr("height", function(d){return yfocus1(d.GAME_LOAD);});
			
			focus.selectAll('#squad_avg')
			.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height - yfocus(d.SQUAD_AVG);})
			.attr("height", function(d){return 1;});
			
			
// 			focus.select(".ACLoad").transition(d3.easeCubic).duration(1000).attr("d", acuteline);
// 			focus.selectAll("#UPFlags").transition(d3.easeCubic).duration(1000).attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (yfocus(d.ACUTE) + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 5 : -5)) + ") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 180) + ")"});
		
		} else {
			focus.select(".load").transition(d3.easeCubic).duration(1000).attr("d", sessloadline2(height));
		 	
			focus.selectAll('#sessionload')
		 	.transition(d3.easeCubic).duration(1000)
		 	//.attr("x", function(d) {	return xfocus(d.SESS_START);})
		 	.attr("y", function(d){		return height})
		 	//.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
		 	.attr("height", function(d){ return 0;})
		 	
		 	focus.selectAll('#prepracticeload')
		 	.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height;})
			.attr("height", function(d){return 0;});
			
		 	focus.selectAll('#practiceload')
		 	.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height;})
			.attr("height", function(d){return 0;});
		 	
		 	focus.selectAll('#postpracticeload')
		 	.transition(d3.easeCubic).duration(1000)
		 	.attr("y", function(d){		return height;})
		 	.attr("height", function(d){return 0;});
		 	
			focus.selectAll('#gameload')
			.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height;})
			.attr("height", function(d){return 0;});
			
			focus.selectAll('#squad_avg')
			.transition(d3.easeCubic).duration(1000)
			.attr("y", function(d){		return height;})
			.attr("height", function(d){return 0;});

		}
		d3.selectAll("#loadbutton").text(function(d) {return LOADview_state ? "-LOD" : "+LOD";});        	
		});
	
	
	
	
	
	
	
	
	var OTHERS_showhide_button = gpsdatasvg.append("g").attr("class", "OTHERS_Button")
	.attr("transform", "translate("+ ((width/15)*3)  + "," + 30 + ")");

	OTHERS_showhide_button.append("text").attr("id", "othersbutton").attr("x", 8).attr("y", 15).attr("fill", "#464640").text("-OTH");
	var actextWidth = OTHERS_showhide_button.select("text").node().getBBox().width;
	OTHERS_showhide_button.append("rect").attr("rx", 8).attr("ry", 8)
	.attr("width", actextWidth + 20).attr("height", 20)
	.attr("class", "othersshowhidebutton").attr("id", "OTHERS_Button") 
	.on("click", function(){
		
		//showhide the AC graphlines
		OTHERSview_state = !OTHERSview_state;
		d3.select(".othersshowhidebutton").style("stroke-width", OTHERSview_state ? 1 : 0);
		if(OTHERSview_state){
			
			focus.select(".cod_l_lo").transition(d3.easeCubic).duration(1000).attr("d", cod_l_lo_area);
			focus.select(".cod_l_med").transition(d3.easeCubic).duration(1000).attr("d", cod_l_med_area);
			focus.select(".cod_l_hi").transition(d3.easeCubic).duration(1000).attr("d", cod_l_hi_area);
			focus.select(".cod_r_lo").transition(d3.easeCubic).duration(1000).attr("d", cod_r_lo_area);
			focus.select(".cod_r_med").transition(d3.easeCubic).duration(1000).attr("d", cod_r_med_area);
			focus.select(".cod_r_hi").transition(d3.easeCubic).duration(1000).attr("d", cod_r_hi_area);
			focus.select(".jump_lo").transition(d3.easeCubic).duration(1000).attr("d", jump_lo_area);
			focus.select(".jump_med").transition(d3.easeCubic).duration(1000).attr("d", jump_med_area);
			focus.select(".jump_hi").transition(d3.easeCubic).duration(1000).attr("d", jump_hi_area);
			focus.select(".heartrate").transition(d3.easeCubic).duration(1000).attr("d", heartrateline);
			focus.select(".accel").transition(d3.easeCubic).duration(1000).attr("d", accelline);
			focus.select(".decel").transition(d3.easeCubic).duration(1000).attr("d", decelline);
			
		} else {
			
			focus.select(".cod_l_lo").transition(d3.easeCubic).duration(1000).attr("d", cod_l_lo_area2);
			focus.select(".cod_l_med").transition(d3.easeCubic).duration(1000).attr("d", cod_l_med_area2);
			focus.select(".cod_l_hi").transition(d3.easeCubic).duration(1000).attr("d", cod_l_hi_area2);
			focus.select(".cod_r_lo").transition(d3.easeCubic).duration(1000).attr("d", cod_r_lo_area2);
			focus.select(".cod_r_med").transition(d3.easeCubic).duration(1000).attr("d", cod_r_med_area2);
			focus.select(".cod_r_hi").transition(d3.easeCubic).duration(1000).attr("d", cod_r_hi_area2);
			focus.select(".jump_lo").transition(d3.easeCubic).duration(1000).attr("d", jump_lo_area2);
			focus.select(".jump_med").transition(d3.easeCubic).duration(1000).attr("d", jump_med_area2);
			focus.select(".jump_hi").transition(d3.easeCubic).duration(1000).attr("d", jump_hi_area2);
			focus.select(".heartrate").transition(d3.easeCubic).duration(1000).attr("d", heartrateline2);
			focus.select(".accel").transition(d3.easeCubic).duration(1000).attr("d", accelline2);
			focus.select(".decel").transition(d3.easeCubic).duration(1000).attr("d", decelline2);

		}
		d3.selectAll("#othersbutton").text(function(d) {return OTHERSview_state ? "-OTH" : "+OTH";});        	
		});
		
}




function redrawGPS() {
	
	//focus.selectAll(".ChronicLoad").attr("x",function(d) { return xfocus(d.SESS_START); });
	if(ACview_state) {
		focus.select(".ChronicLoad").attr("d", chronicloadarea(height));
		focus.select(".ACLoad").attr("d", acuteline);
		focus.selectAll("#UPFlags").attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (yfocus(d.ACUTE) + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 5 : -5)) + ") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 180) + ")"});
		focus.selectAll("#ACLoadDot").attr("cx", function(d) { return xfocus(d.SESS_START); }).attr("cy", function(d) { return yfocus(d.ACUTE); });
		
	}else {
		focus.select(".ChronicLoad").attr("d", chronicloadarea2(height));
		focus.select(".ACLoad").attr("d", acuteline2(height));
		focus.selectAll("#UPFlags").attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + ","+ height +") rotate(" + (d.ACUTE > (d.CHRONIC * acuteloadupperthreshold) ? 0 : 180) + ")"});
		focus.selectAll("#ACLoadDot").attr("cx", function(d) { return xfocus(d.SESS_START); }).attr("cy", height);
	}
	
	if(LOADview_state) {
		focus.select(".load").attr("d", sessloadline);
	 	focus.selectAll('#sessionload')
	 	.attr("x", function(d) {	return xfocus(d.SESS_START);})
	 	.attr("y", function(d){		return height - yfocus1(d.SESS_LOAD);})
	 	.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
	 	.attr("height", function(d){return yfocus1(d.SESS_LOAD);})
	 	
		focus.selectAll('#prepracticeload')
		.attr("x", function(d) {	return xfocus(d.PRE_START);})
		.attr("y", function(d){		return height - yfocus1(d.PRE_LOAD);})
		.attr("width", function(d){	return (xfocus(d.PRE_END) - xfocus(d.PRE_START));})
		.attr("height", function(d){return yfocus1(d.PRE_LOAD);});
		
	 	focus.selectAll('#practiceload')
		.attr("x", function(d) {	return xfocus(d.PRACT_START);})
		.attr("y", function(d){		return height - yfocus1(d.PRACT_LOAD)  - yfocus1(d.PRE_LOAD);})
		.attr("width", function(d){	return (xfocus(d.PRACT_END) - xfocus(d.PRACT_START));})
		.attr("height", function(d){return yfocus1(d.PRACT_LOAD);});
	 	
	 	focus.selectAll('#postpracticeload')
	 	.attr("x", function(d) {	return xfocus(d.POST_START);})
	 	.attr("y", function(d){		return height -yfocus1(d.POST_LOAD) - yfocus1(d.PRACT_LOAD) - yfocus1(d.PRE_LOAD);})
	 	.attr("width", function(d){	return (xfocus(d.POST_END) - xfocus(d.POST_START));})
	 	.attr("height", function(d){return yfocus1(d.POST_LOAD);});
	 	
		focus.selectAll('#gameload')
		.attr("x", function(d) {	return xfocus(d.SESS_START);})
		.attr("y", function(d){		return height - yfocus1(d.GAME_LOAD);})
		.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
		.attr("height", function(d){return yfocus1(d.GAME_LOAD);});
		
		focus.selectAll('#squad_avg')
		.attr("x", function(d) {	return (xfocus(d.SESS_START) - 5);})
		.attr("y", function(d){		return height - yfocus(d.SQUAD_AVG);})
		.attr("width", function(d){	return (((xfocus(d.SESS_END) - xfocus(d.SESS_START)) + 10));})
		.attr("height", function(d){return 1;});
		
		
	} else {
		focus.select(".load").attr("d", sessloadline2(height));
	 	focus.selectAll('#sessionload')
	 	.attr("x", function(d) {	return xfocus(d.SESS_START);})
	 	.attr("y", function(d){		return height})
	 	.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
	 	.attr("height", function(d){ return 0;})
	 	
		focus.selectAll('#prepracticeload')
		.attr("x", function(d) {	return xfocus(d.PRE_START);})
		.attr("y", function(d){		return height;})
		.attr("width", function(d){	return (xfocus(d.PRE_END) - xfocus(d.PRE_START));})
		.attr("height", function(d){return 0;});
		
	 	focus.selectAll('#practiceload')
		.attr("x", function(d) {	return xfocus(d.PRACT_START);})
		.attr("y", function(d){		return height;})
		.attr("width", function(d){	return (xfocus(d.PRACT_END) - xfocus(d.PRACT_START));})
		.attr("height", function(d){return 0;});
	 	
	 	focus.selectAll('#postpracticeload')
	 	.attr("x", function(d) {	return xfocus(d.POST_START);})
	 	.attr("y", function(d){		return height;})
	 	.attr("width", function(d){	return (xfocus(d.POST_END) - xfocus(d.POST_START));})
	 	.attr("height", function(d){return 0;});
	 	
		focus.selectAll('#gameload')
		.attr("x", function(d) {	return xfocus(d.SESS_START);})
		.attr("y", function(d){		return height;})
		.attr("width", function(d){	return (xfocus(d.SESS_END) - xfocus(d.SESS_START));})
		.attr("height", function(d){return 0;});
		
		focus.selectAll('#squad_avg')
		.attr("x", function(d) {	return (xfocus(d.SESS_START) - 5);})
		.attr("y", function(d){		return height;})
		.attr("width", function(d){	return (((xfocus(d.SESS_END) - xfocus(d.SESS_START)) + 10));})
		.attr("height", function(d){return 0;});
	}
	
	if(OTHERSview_state){
		focus.select(".cod_l_lo").attr("d", cod_l_lo_area);
		focus.select(".cod_l_med").attr("d", cod_l_med_area);
		focus.select(".cod_l_hi").attr("d", cod_l_hi_area);
		focus.select(".cod_r_lo").attr("d", cod_r_lo_area);
		focus.select(".cod_r_med").attr("d", cod_r_med_area);
		focus.select(".cod_r_hi").attr("d", cod_r_hi_area);
		focus.select(".jump_lo").attr("d", jump_lo_area);
		focus.select(".jump_med").attr("d", jump_med_area);
		focus.select(".jump_hi").attr("d", jump_hi_area);
		focus.select(".heartrate").attr("d", heartrateline);
		focus.select(".accel").attr("d", accelline);
		focus.select(".decel").attr("d", decelline);
		
	} else {
		
		focus.select(".cod_l_lo").attr("d", cod_l_lo_area2);
		focus.select(".cod_l_med").attr("d", cod_l_med_area2);
		focus.select(".cod_l_hi").attr("d", cod_l_hi_area2);
		focus.select(".cod_r_lo").attr("d", cod_r_lo_area2);
		focus.select(".cod_r_med").attr("d", cod_r_med_area2);
		focus.select(".cod_r_hi").attr("d", cod_r_hi_area2);
		focus.select(".jump_lo").attr("d", jump_lo_area2);
		focus.select(".jump_med").attr("d", jump_med_area2);
		focus.select(".jump_hi").attr("d", jump_hi_area2);
		focus.select(".heartrate").attr("d", heartrateline2);
		focus.select(".accel").attr("d", accelline2);
		focus.select(".decel").attr("d", decelline2);
		
		
		
	}
	

	
 	focus.selectAll("#now_marker").attr("transform", function(d) { return "translate(" + xfocus(today) + "," + height + ")" });
 	
} // end redrawGPS()









var data2;
// schedule
var calendar = d3.csv('@routes.Application.getCalendarCSV()', function(error2, data2) {
	
	data2.forEach(function(d) {
		d.GAME_START = new Date((+d.GAME_START)*1000);
		d.GAME_END = new Date((+d.GAME_END)*1000);
		d.OPPONENT = d.OPPONENT;
		d.LOCATION = d.LOCATION;
		d.OPP_LOGO = d.OPP_LOGO;
	});
	
	drawSchedule(data2);
	
}); // end of calendar loader


function drawSchedule(data2) {
	
	schedule.append("rect")
	.attr("class", "schedbgrect").attr("width", width).attr("height", height4);

	// the opponents logos
	schedule.append("g").attr("class", "opponents")
	.selectAll(".opponents").data(data2).enter().append("image")
	.attr("class", "opponenticon").attr("id", "opponenticon")
	.attr("x", -10)
	.attr("width", 25).attr("height", 25)
	.attr("href", function(d){ return "/assets/images/TeamLogos/"+ d.OPP_LOGO + ".png"; })
	.attr("transform", function(d) { return "translate(" + xfocus(d.GAME_START) + "," + (height4 - 50) + ")" })
	.on("mouseover", function(d) {
		tooltip.transition().duration(200).style("opacity", 0.9).style("color", "blue").style("background", "rgba(0,128,128, 0.1)").style("border-color", "green");
		tooltip .html("Opponent : " + (d.OPPONENT) +"<br><br>" + "Location : " + (d.LOCATION) +"<br><br>" )
			.style("left", (d3.event.pageX - 20) + "px").style("top", (d3.event.pageY -150) + "px");})
	.on("mouseout", function(d) {       
		tooltip.transition().duration(500).style("opacity", 0);
	});
	
	//the past game text
	schedule.append("g").attr("class", "homegametext")
	.selectAll(".homegametxt").data(data2).enter().append("text")
	.attr("id", "homegametxt")
	.attr("transform", function(d) { return "translate(" + xfocus(d.GAME_START) + "," + (height4 - 10) + ")";})
	.attr("x", -5)
	.text( function (d) { return d.LOCATION == "Dallas" ? "H" : "A";});
	
} // end drawSchedule()


function redrawSchedule(){
	
	schedule.selectAll("#opponenticon").attr("transform", function(d) { return "translate(" + xfocus(d.GAME_START) + "," + (height4 - 50) + ")" });
	schedule.selectAll("#gameresulttxt").attr("transform", function(d) { return "translate(" + xfocus(d.SESS_START) + "," + (height4 - 10) + ")"; });
	schedule.selectAll("#homegametxt").attr("transform", function(d) { return "translate(" + xfocus(d.GAME_START) + "," + (height4 - 10) + ")"; });

} // end redrawSchedule()







// redox
var redox = d3.csv('@routes.RedoxController.getRedoxCSV(player.playernumber)', function(error3, data3) {
	
	data3.forEach(function(d, i) {
		d.TIME_KEY = +d.TEST_TIME;
		d.TEST_TIME = new Date((+d.TEST_TIME));
		d.DEFENCE = +d.DEFENCE;
		d.STRESS = +d.STRESS;
		
	});
	
	yfocus2.domain([0 , d3.max(data3, function(d){return d.STRESS + 1;})]);
	
	
	drawRedox(data3);
	drawRedoxButtons(data3);

}); // end redox loader


function drawRedox(data3) {
	
	
	focus.append("path").datum(data3).attr("class", "dashdefenceline").attr("id", "defenceline").attr("d", defenceline);
	
    
    // stress(STRESS)
	focus.append("path").datum(data3).attr("class", "dashstressline").attr("id", "stressline").attr("d", stressline);
    
	focus.append("g").attr("class", "STRESSGROUP").selectAll().data(data3).enter()
    .append("circle").attr("class", "dashSTRESS").attr("id", "STRESS").attr("r", 6)
	.style("fill", function(d) { 
		
		
			var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
			var tenpercent = diff * amberzone;
			if (d.STRESS >= d.STRESS_CDT) { return "red";
			} else {
				if(d.STRESS >= (d.STRESS_CDT - tenpercent)){ return "orange";
				} else { return "green"; }
			}
		
		})
	.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.STRESS); });
	
	
	//Defence(DEFENCE)
	focus.append("g").attr("class", "DEFENCEGROUP").selectAll().data(data3).enter()
    .append("circle").attr("class", "dashDEFENCE").attr("id", "DEFENCE").attr("r", 6)
	.style("fill", function(d) { 
		
			var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
			var tenpercent = diff * amberzone; 
			if (d.DEFENCE <= d.DEFENCE_CDT) { return "red";
			} else {
				if(d.DEFENCE <= (d.DEFENCE_CDT + tenpercent)){ return "orange";
				} else { return "green"; }
			}
		
	}) 
	.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.DEFENCE); });
	


	
	
	
	
	
} // end drawRedox()


function drawRedoxButtons(data3) {
	
	
	var RDXFOCUS_showhide_button = gpsdatasvg.append("g").attr("class", "RDXDATA_Button")
	.attr("transform", "translate("+ ((width/15)*4)  + "," + 30 + ")");

	RDXFOCUS_showhide_button.append("text").attr("id", "dashboardrdxbutton").attr("x", 8).attr("y", 15).attr("fill", "#464640")
	.text(function() {
	return RDXview_state? "-RDX" : "+RDX";
	});

	var rdxtextWidth = RDXFOCUS_showhide_button.select("text").node().getBBox().width;
				
	RDXFOCUS_showhide_button.append("rect").attr("rx", 8).attr("ry", 8)
	.attr("width", rdxtextWidth + 20).attr("height", 20)
	.attr("class", "rdxshowhidebutton").attr("id", "RDXDATA_Button") 
	.on("click", function(){


	RDXview_state = !RDXview_state;
	document.cookie="rdxviewstate="+ RDXview_state +";";
	d3.select(".rdxshowhidebuttons").style("stroke-width", RDXview_state ? 1 : 0);
	if(RDXview_state){
		focus.select(".dashdefenceline").transition(d3.easeCubic).duration(1000).attr("d", defenceline);
		focus.select(".dashstressline").transition(d3.easeCubic).duration(1000).attr("d", stressline);
		
		focus.selectAll(".dashSTRESS").transition(d3.easeCubic).duration(1000)
		.attr("r", 10)
		.attr("cx", function(d) { return xfocus(d.TEST_TIME); })
		.attr("cy", function(d) { return yfocus2(d.STRESS); });
		
		focus.selectAll(".dashDEFENCE").transition(d3.easeCubic).duration(1000)
		.attr("r", 10)
		.attr("cx", function(d) { return xfocus(d.TEST_TIME); })
		.attr("cy", function(d) { return yfocus2(d.DEFENCE); });
		
	} else {
		
		focus.select(".dashdefenceline").transition(d3.easeCubic).duration(1000).attr("d", defenceline2);
		focus.select(".dashstressline").transition(d3.easeCubic).duration(1000).attr("d", stressline2);
		
		focus.selectAll(".dashSTRESS").transition(d3.easeCubic).duration(1000)
		.attr("r", 0)
		.attr("cx", function(d) { return xfocus(0); })
		.attr("cy", function(d) { return yfocus2(d.STRESS); });
		
		focus.selectAll(".dashDEFENCE").transition(d3.easeCubic).duration(1000)
		.attr("r", 0)
		.attr("cx", function(d) { return xfocus(0); })
		.attr("cy", function(d) { return yfocus2(d.DEFENCE); });
	}
	d3.selectAll("#rdxbutton").text(function(d) {return RDXview_state ? "-RDX" : "+RDX";});        	
	});
	
}






function redrawRedox() {
	
	if(RDXview_state){
		focus.select(".dashdefenceline").attr("d", defenceline);
		focus.select(".dashstressline").attr("d", stressline);
		focus.selectAll(".dashSTRESS").attr("r", 10).attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.STRESS); });
		focus.selectAll(".dashDEFENCE").attr("r", 10).attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.DEFENCE); });
	} else {
		focus.select(".dashdefenceline").attr("d", defenceline2);
		focus.select(".dashstressline").attr("d", stressline2);
		focus.selectAll(".dashSTRESS").attr("r", 0).attr("cx", function(d) { return xfocus(0); }).attr("cy", function(d) { return yfocus2(d.STRESS); });
		focus.selectAll(".dashDEFENCE").attr("r", 0).attr("cx", function(d) { return xfocus(0); }).attr("cy", function(d) { return yfocus2(d.DEFENCE); });
	}
	
}  //end redrawRedox()






function redrawChart() {
	
	datatip.transition().duration(200).style("opacity", 0);
	gametip.transition().duration(200).style("opacity", 0);
	
	redrawGPS();
	redrawRedox();
	redrawSchedule();
	
	
	focus.select(".axis--x").call(xAxis);
} // end redrawchart






	
	
	
function brushed() {
	
	//console.log("brushing");
	var s = d3.event.selection || xcontext.range();
	
	if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") {
		document.cookie="xl="+ s[0] +";";
		document.cookie="xr="+ s[1] +";";
		//console.log("returning");
		return;
	}
	xfocus.domain(s.map(xcontext.invert, xcontext));
	
	redrawChart();
	gpsdatasvg.select(".zoom").call(zoom.transform, d3.zoomIdentity
	  .scale(width / (s[1] - s[0]))
	  .translate(-s[0], 0));
	
	
	context.select(".leftbookend").attr("width", s[0]);
	context.select(".rightbookend").attr("x", s[1]);
	
} //end brushed
function zoomed() {
	if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") {return;}
	var t = d3.event.transform;
	
	xfocus.domain(t.rescaleX(xcontext).domain());
	var n = t.rescaleX(xcontext).domain();
	redrawChart();
	
	context.select(".brush").call(brush.move, xfocus.range().map(t.invertX, t));
	context.select(".leftbookend").attr("width", xcontext(n[0]));
	context.select(".rightbookend").attr("x", xcontext(n[1]));
} // end zoomed
	
	
	
	
d3.select(window).on('resize', resize);
function resize() {
    // update width
    windowwidth = parseInt(d3.select('#main_chart').style('width'), 10);
	redoxpane_h = Math.max(((windowHeight/8)), max_rdxsvg_h);
	gpsdatasvg_h = Math.max(((windowHeight/2)), max_gpssvg_h);
    
	
    //d3.select('#gpstoggle').attr("width", windowwidth);
    d3.select('#gpsdatasvg').attr("width", windowwidth).attr("height", gpsdatasvg_h);
    
    d3.select('#redoxsvg').attr("width", windowwidth).attr("height", redoxpane_h);
    
	width = +gpsdatasvg.attr("width") - gps_margin.left - gps_margin.right,
	height = +gpsdatasvg.attr("height") - gps_margin.top - gps_margin.bottom,
	height2 = +gpsdatasvg.attr("height") - context_margin.top - context_margin.bottom;
	
	 d3.select('#clip').attr("width", width).attr("height", height);
	 d3.select('#cliprect').attr("width", width).attr("height", height);
	 
    
    xfocus.range([0, width]),
	yfocus.range([height, 0]);
	xcontext.range([0, width]),
	ycontext.range([height2, 0]);
	
	checkcookie();
	
	
	context.select(".axis--x").call(xAxis2);
	focus.select(".axis--y").call(yAxis);
	redrawChart();
	
	gpsdatasvg.select(".zoom").call(zoom.transform, d3.zoomIdentity
			  .scale(width / (xr - xl))
			  .translate(-xl, 0));
	
} // end resize



function checkcookie() {
	

// 	var ACview_state = true;
// 	var LOADview_state = true;
// 	var OTHERSview_state = true;
	
	

	
	if(document.cookie.indexOf("xl") >= 0) {
		var lhs,rhs;
		var cookiearray = document.cookie.split(';');
		
		for(var i=0; i<cookiearray.length; i++){
	        if(cookiearray[i].split('=')[0].trim() === "xl"){
	        	
	        
	        	if(isNaN(cookiearray[i].split('=')[1].trim())){
	        		console.log("Nan");
	        		xl = threeweeksago;
	        	} else {
	        		xl = cookiearray[i].split('=')[1].trim();
	        		//console.log("not Nan");
	        	}
	        	
	        }
            if(cookiearray[i].split('=')[0].trim() === "xr") {
            	if(isNaN(cookiearray[i].split('=')[1].trim())){
	        		xr = oneweekahead;
	        	} else {
	        		xr = cookiearray[i].split('=')[1].trim();
	        	}
          	  xr = cookiearray[i].split('=')[1].trim();
            }
         }
		
	} else {
		xl = threeweeksago;
		xr = oneweekahead;
	}
	
	
} // end checkcookie

(function ($) {
	  $(document).ready(function(){

	    // hide .navbar first
	   //$(".navbar").hide();

	    // fade in .navbar
	    $(function () {
	        $(window).scroll(function () {

	                 // set distance user needs to scroll before we start fadeIn
	            if ($(this).scrollTop() > 10) {
	               // $('.navbar').fadeIn();
	                $('.navbar').fadeOut();
	            } else {
	                //$('.navbar').fadeOut();
	                $('.navbar').fadeIn();
	            }
	        });
	    });

	});
	  }(jQuery));
</script>
    
    
}