@import be.objectify.deadbolt.java.views.html.{restrict, restrictOr}
@import be.objectify.deadbolt.java.utils.TemplateUtils.{allOf, anyOf, allOfGroup}
@import tags._
@(user : models.User, active: String, player: models.Player, playerIndex: Integer, players: List[models.Player], category:String, categories: List[models.Category])


@main(title = "CoachCentral") {
    
      <div class="container-fluid" id="outer_container" style="background-color: #FBFBFB">
    @navigationbar(user: models.User, active: String)
    
        <style> 
#player_icon {
  position: relative;
  perspective: 1000;
}
#player_icon_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  
   -webkit-animation-name: player_icon_flip; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: player_icon_flip;
    animation-duration: 12s;
     animation-delay: 2s;
/*      animation-direction: alternate; */
    animation-iteration-count: 2;
  
}
@@-webkit-keyframes player_icon_flip {
	10% { transform: rotateY(180deg);}
	20% { transform: rotateY(0deg);}
	60% { transform: rotateY(0deg);}
	70% { transform: rotateY(180deg);}
	80% { transform: rotateY(0deg);}
}
#player_icon:hover #player_icon_card {
-webkit-animation: none;
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: red;
  text-align: center;
  background-color: #aaa;
}
</style>

<div class="container-fluid" id="groupings_toggle_buttons">
	<div>
	@for(c <- categories) {
		@if(c.name.equals(category)){
		<a href="@routes.Application.redox(player.playernumber, c.name)" class="badge active" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color:yellow;">@c.name</span></a>
		} else {
		<a href="@routes.Application.redox(player.playernumber, c.name)" class="badge" style="background-color: white;"><span class="badge" style=" color: #337ab7; background-color: white;">@c.name</span></a>
   		}
	}
	</div>
</div>

<div class="row" id ="player_carousel">
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center">
	  
	  <div class="btn-group btn-group-justified">
	  
	   @if(players.size() > 5){
	   
	   <a href='@routes.Application.redox(players.get(Math.floorMod((playerIndex - 4), players.size())).playernumber, category)' class="btn btn-default"  class="thumbnail" style="margin-bottom: 0px; border:none;">
						<div >
					
						</div>
						<div class="text-nowrap" style="text-align: center;">
							<<
						</div>
					</a>
	   }
	   
	  
	  @if(players.size() > 5){
	  
	  		@player_icon(players.get(Math.floorMod((playerIndex - 3), players.size())), category, active)
	  		
	  }
	  
	  @if(players.size() > 3){
	  		@player_icon(players.get(Math.floorMod((playerIndex - 2), players.size())), category, active)
	  }
	  
	  @if(players.size() > 1){
	  		@player_icon(players.get(Math.floorMod((playerIndex - 1), players.size())), category, active)
	  }
	
	  </div>
	  </div>
	  
	  
	  
	  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="player_icon">
	  	<div id="player_icon_card">
	  		<div class="front face">
	  		
	  			<h4 style="margin-bottom: 5px; margin-top:5px;">
	  			
					<a href="@routes.Application.record(player.playernumber, category)" class="thumbnail" style="margin-bottom: 0px;">
						<div>
						
						@if(player.playerPhoto != null){
							<img class="img-responsive" src="@routes.Application.playerPhoto(player.id)" alt="" style="margin: 0 auto; max-width:150px;height:150px"/>
						} else {
							<img class="img-responsive" src='@routes.Assets.at("images/player-headshot.png")' alt="" style="margin: 0 auto; max-width:150px;height:150px;"/>
						}
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							@player.playername
						</div>
					</a>
				</h4>
			</div> <!-- end front face -->
			
			<div class="back face">
				<h4 style="margin-bottom: 5px; margin-top:5px;">
	  			
					<a href="@routes.Application.record(player.playernumber, category)" class="thumbnail" style="margin-bottom: 0px; text-decoration:none;">
						
						<div>
						
						@if(player.playerPhoto != null){
							<img class="img-responsive" src="@routes.Application.playerPhoto(player.id)" alt="" style="margin: 0 auto; max-width:50px;height:50px"/>
						} else {
							<img class="img-responsive" src='@routes.Assets.at("images/player-headshot.png")' alt="" style="margin: 0 auto; max-width:50px;height:50px;"/>
						}
						
						<table style="text-align:left; font-family:arial; font-size:15px;">
							<tr>
								<td>Position</td><td>@player.position</td>
							</tr>
							<tr>
								<td>DoB</td><td>@player.dob</td>
							</tr>
							<tr>
								<td>Height</td><td>@player.height</td>
							</tr>
							<tr>
								<td>Weight</td><td>@player.weight</td>
							</tr>
						</table>
						
						
						</div>
						<div class="text-nowrap" style="text-align: center;">
							@player.playername
						</div>
						
						
						
<!-- 						<div style="margin: 0 auto; max-width:150px;height:150px;"> -->
<!-- 						alerts go here<br> -->
<!-- 						alert 1<br> -->
<!-- 						alert 2<br> -->
<!-- 						<a href="@routes.Application.record(player.playernumber, category)" class="btn btn-info btn-lg"> -->
<!--           				<span class="glyphicon glyphicon-plus"></span> Add data -->
        				
        				
						
					</a>
				</h4>
			</div><!-- end back face -->
			</div>
	  </div>
	  
	  
	  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><p class="text-center"></p>
	 
	 	<div class="btn-group btn-group-justified">
	 		
	 @if(players.size() > 2){
	 	@player_icon(players.get(Math.floorMod((playerIndex + 1), players.size())), category, active)
	 }
	 
	  @if(players.size() > 4){
	  	@player_icon(players.get(Math.floorMod((playerIndex + 2), players.size())), category, active)
	 }
	 
	  @if(players.size() > 6){
	  	@player_icon(players.get(Math.floorMod((playerIndex + 3), players.size())), category, active)
	 }
	 
	  @if(players.size() > 6){
	 		<a href='@routes.Application.redox(players.get(Math.floorMod((playerIndex + 4), players.size())).playernumber, category)' class="btn btn-default" class="thumbnail" style="margin-bottom: 0px;  border:none;">
					
			<div class="text-nowrap" style="text-align: center;">
				>>
				
			</div>		
			</a>
	 }
	 	</div>
	 	
	  </div>
	  
	  
</div><!-- end div player carousel -->

<!-- the panel below the pagination carousel -->
	
<div class="chart" class="container-fluid" id="main_chart"  style="border:1px solid #cecece; border-radius: 20px;
																	margin:20px;
																	background-color: white;
																	box-shadow: 0px 0px 10px grey;">
	<div class="chart_upper" class="row" id="chart_upper" >
	<br><br>
	</div>
	<div class="chart_centre" class="row" id="chart_centre">
<!-- 	<svg id="contextsvg"></svg> -->
	<svg id="redoxsvg"></svg>
	</div>
	<div class="chart_lower" class="row" id="chart_lower">
		
		<div class="row" id ="redoxanswersrow">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="leftcol">
				<div class="answersleftcol">
					ANSWERS
				</div>
				
				<div class="ansheadings" >
					<div id="EATEN">
						EATEN
					</div>
					<div class="glyphicon glyphicon-question-sign" id="EATENVALUE">
					</div>
				</div>
				
				<div class="ansheadings">
					<div id="TRAINED">
						TRAINED
					</div>
					<div class="glyphicon glyphicon-question-sign" id="TRAINEDVALUE">
					</div>
				</div>
				
				<div>
					<div class="ansheadings"  id="SYMPTOMS" style="min-height: 40px;">
						SYMPTOMS
						
						<div>
							<div class="testauto" id="FEVERSURROUND">
								<div class="anssubheadings" id="FEVER">
								</div>
								<div class="anssubheadingsright"  id="FEVERVALUE">
								</div>
							</div>
							<div class="testauto" id="COLDSORESURROUND">
								<div class="anssubheadings" id="COLDSORE">
								</div>
								<div class="anssubheadingsright"  id="COLDSOREVALUE">
								</div>
							</div>
							<div class="testauto" id="HEADACHESURROUND">
								<div class="anssubheadings" id="HEADACHE">
								</div>
								<div class="anssubheadingsright"  id="HEADACHEVALUE">
								</div>
							</div>
							<div class="testauto" id="JMACHESURROUND">
								<div class="anssubheadings" id="JMACHE">
								</div>
								<div class="anssubheadingsright" id="JMACHEVALUE">
								</div>
							</div>
							<div class="testauto" id="DIARRHEASURROUND">
								<div class="anssubheadings" id="DIARRHEA">
								</div>
								<div class="anssubheadingsright" id="DIARRHEAVALUE">
								</div>
							</div>
							<div class="testauto" id="OTHERSURROUND">
								<div class="anssubheadings" id="OTHER">
								</div>
								<div class="anssubheadingsright" id="OTHERVALUE">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				<div>
					<div class="ansheadings"  id="EXERCISE">
						Previous Day Activity
						<div>
							<div class="anssubheadings"  id="ACTIVITIESVALUE">
							</div>
						</div>
					</div>
				</div>
				
				
					<div class="ansheadings">
						<div id="ENERGY">
							ENERGY
						</div>
						<div id="NRGVALUE">
						<svg id="nrgsvg"></svg>
						</div>
					</div>
					
					<div class="ansheadings">
						<div id="MUSCLE_SORENESS">
							MUSCLE SORENESS
						</div>
						<div id="MUSCSOREVALUE" style="display:in-line-block; float:right;">
						<img class="img-responsive"  id="MUSCSOREICON" src='@routes.Assets.at("images/emoticons/happy.png")' alt="" "/>
						</div>
					</div>
					
					<div class="ansheadings" >
						<div id="ILL">
							Ill in the last week
						</div>
						<div class="glyphicon glyphicon-question-sign" id="ILLVALUE">
						</div>
					</div>
					
					<div class="ansheadings" >
							<div id="INJURED">
								Injured in the last week
							</div>
							<div class="glyphicon glyphicon-question-sign" id="INJUREDVALUE">
							</div>
					</div>
					
					<div>
						<div class="ansheadings">
							Tester Notes
							<div>
								
								<div class="anssubheadingsright"  id="TESTERNOTESVALUE">
								</div>
							</div>
						</div>
					</div>
				
				
			</div>
			</div>
			
			
			
			
			
			
			
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="rightcol">
				<div class="resultsrightcol">
					RESULTS SHOW
				</div>
					<div id="RESULTSHOW">
					</div>
					
					<div class="orrecoss">
						<div style="display: inline-block;">
							<img class="img-responsive"  id="ORRECOSSPIC" src='@routes.Assets.at("images/player-headshot.png")' alt=""/>
						</div>
						<div style="display: inline-block;">
							<i id="ORRECOSSTEXT"></i>
						</div>
					
						<div style="display: inline-block;">
							<p id="ORRECOSSNAME" ></p>
						</div>
					<div>
					<form id='rdxcomment' action='@routes.Application.saveComment(player.playernumber, category)' method='POST'>
						<input type="text" name="comment" placeholder="enter additional comments..." size="100">
						<input id="rdxid" type="hidden" name="rdxid" value="">
						<input type="hidden" name="ssname" value="@user.userName"><button>Post Comment</button>
					</form>
				
					</div>
					</div>
					

					
				<div class="POTOUTCOMES" style="display: inline-block; width: 50%;">
				POTENTIAL OUTCOMES
					<ul id="POTOUTS" >
					
					</ul>
					
				</div>
				<div class="ACTION" style="display: inline-block;">
				ACTION
					<ul id="ACTIONS">
						
					</ul>
				</div>
			
			</div>
		
		</div>
	</div>
</div>

<div>
Advice
</div>

<div class="">
<div class="row advicerow">


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 advice">
	
	Diet
		<div id="DIET">
		
		
		</div>
	
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 advice">
	
	Training load
		<div id="TRAININGLOAD">
		
		
		</div>
	
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 advice">
	
	Sleep
		<div id="SLEEP">
		
		
		</div>
	
</div>

</div>
</div>

</div><!-- end  outer container-->



<script src="@routes.Assets.at("javascripts/ChartHelperMethods.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/TooltipTables.js")" type="text/javascript"></script>
<script>

var RDXview_state = true;


var jan2016 = new Date(2015, 11, 20);
var apr2016 = new Date(2016, 3, 1);
var fourMonthsahead = new Date(Date.now() + 120*24*3600*1000);
var threeweeksago = new Date(Date.now() + -21*24*3600*1000);
var oneweekahead = new Date(Date.now() + 7*24*3600*1000);
var xl = threeweeksago, xr = oneweekahead;
var rdxval = -1;

checkcookie();


var amberzone = 0.1;

////Adds the svg canvas
var windowHeight = window.innerHeight|| e.clientHeight|| g.clientHeight;

var windowwidth = parseInt(d3.select('#main_chart').style('width'), 10);

var max_rdxsvg_h = 450;


var	redoxpane_h_open = Math.max(((windowHeight/8)), max_rdxsvg_h);
var redoxpane_h_closed = 140;


// var contextsvg = d3.select("#contextsvg").attr("width", windowwidth).attr("height", 40),
// context_margin = {top: 0, right: 20, bottom: 0, left: 70},


var redoxsvg = d3.select("#redoxsvg").attr("width", windowwidth)
.attr("height", redoxpane_h_open);


rdx_margins = {top: 140, right: 20, bottom:0, left: 20},
width = +redoxsvg.attr("width") - rdx_margins.left - rdx_margins.right,
ctxwidth = width;
height = +redoxsvg.attr("height") - rdx_margins.top - rdx_margins.bottom,
height2 = 40,
height3 = +redoxsvg.attr("height") - rdx_margins.top - rdx_margins.bottom;

var nrgsvg = d3.select("#nrgsvg").attr("width", 100).attr("height", 20);





var xfocus = d3.scaleTime().range([0, width]),
yfocus = d3.scaleLinear().range([height, 0]),
yfocus1 = d3.scaleLinear().range([height, 0]);
yfocus2 = d3.scaleLinear().range([height3, 0]);

var xcontext = d3.scaleTime().range([0, ctxwidth]),
ycontext = d3.scaleLinear().range([height2, 0]);

var xAxis = d3.axisBottom(xfocus);
var xAxis2 = d3.axisTop(xcontext).tickArguments([d3.timeMonth]);
var yAxis = d3.axisLeft(yfocus).tickSize(-width, 0, 0).tickFormat("");
var yAxisRdx = d3.axisLeft(yfocus2).tickArguments([5, "s"]).tickSize(-width, 0, 0).tickPadding([-25]);

var brush = d3.brushX()
.extent([[0, 0], [ctxwidth, height2]])
.on("brush end", brushed);

var zoom = d3.zoom()
.scaleExtent([2, 300])
.translateExtent([[0, 0], [width, height]])
.extent([[0, 0], [width, height]])
.on("zoom", zoomed);




redoxsvg.append("defs").append("clipPath")
.attr("id", "ctxclip")
.append("rect")
.attr("id", "ctxcliprect")
.attr("width", ctxwidth)
.attr("height", height2)
.attr("rx", 5)
.attr("ry",5);

redoxsvg.append("defs").append("clipPath")
.attr("id", "rdxclip")
.append("rect")
.attr("id", "rdxcliprect")
.attr("width", width)
.attr("height", height3 + rdx_margins.top);

redoxsvg.append("defs").append("clipPath")
.attr("id", "rdxdangerclip")
.append("rect")
.attr("id", "rdxcliprect")
.attr("width", width)
.attr("height", height3);
// .attr("rx", 20)
// .attr("ry",20);


nrgsvg.append("defs").append("clipPath")
.attr("id", "nrgcliprect")
.append("rect")
.attr("id", "nrgcliprect")
.attr("width", 100)
.attr("height", 20);

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "greenbottom")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "green");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "amberbottom")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "orange");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "redbottom")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "red");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "undefbottom")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "white");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "greentop")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);
grad.append("stop").attr("offset", "50%").style("stop-color", "green");

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "ambertop")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);
grad.append("stop").attr("offset", "50%").style("stop-color", "orange");

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "redtop")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);
grad.append("stop").attr("offset", "50%").style("stop-color", "red");

var grad = redoxsvg.append("defs").append("linearGradient").attr("id", "undeftop")
.attr("x1", "0%").attr("x2", "0%").attr("y1", "100%").attr("y2", "0%");
grad.append("stop").attr("offset", "50%").style("stop-color", "white").style("stop-opacity", 0);
grad.append("stop").attr("offset", "50%").style("stop-color", "white");





var redoxctx = redoxsvg.append("g")
.attr("class", "redoxctx")
.attr("transform", "translate(" + rdx_margins.left + "," + "0" + ")");

var redoxfocus = redoxsvg.append("g")
.attr("class", "redoxfocus")
.attr("transform", "translate(" + rdx_margins.left + "," + rdx_margins.top  + ")");

var context = redoxsvg.append("g")
.attr("class", "contextarea")
.attr("transform", "translate(" + 20 + "," + 5 + ")");

xcontext.domain([jan2016, fourMonthsahead]);
ycontext.domain([0, 1500]);
xfocus.domain(xcontext.domain());
yfocus.domain([0, 1500]);
yfocus1.domain([1500, 0]);

var weeksarray = [];


var redox = d3.csv('@routes.Application.getRedoxCSV(player.playernumber)', function(error3, data3) {

data3.forEach(function(d, i) {
	
	 //replacing proxy characters for commas, because the commas corrupt the csv file formatting
	 for(var y in d){
		 d[y] = d[y].replace("§", ",");
	 }
	
	d.TIME_KEY = +d.TEST_TIME;
	d.TEST_TIME = new Date(+d.TEST_TIME);
	d.DEFENCE = +d.DEFENCE;d.DEFENCE_CDT = +d.DEFENCE_CDT;d.DEFENCE_INC = +d.DEFENCE_INC;
	d.STRESS = +d.STRESS;d.STRESS_CDT = +d.STRESS_CDT;d.STRESS_INC = +d.STRESS_INC;
	d.EnergyLevel = +d.EnergyLevel;
	d.NOTES = d.NOTES;
	

	
});

if(rdxval < 0) { rdxval = data3.length -1;}


var mindate = d3.min(data3, function(d) { return d.TIME_KEY;})
var maxdate = d3.max(data3, function(d) { return d.TIME_KEY;})
var aweek = 7*24*60*60*1000;
for(var i = mindate; i < maxdate; i=i+aweek){
	weeksarray.push(i);
}


//yfocus2.domain([0 , d3.max(data3, function(d){return d.STRESS + 1;})]);
yfocus2.domain([0 , 4]);

d3.select("#redoxanswersrow").attr("width", width);


redoxctx.append("rect").attr("class", "rdxbackgroundrect").attr("width", width).attr("height", height3 + rdx_margins.top);
//redoxfocus.append("g").attr("class", "axis axis--x").attr("transform", "translate(0," + height3 + ")").call(xAxis);
nrgsvg.append("rect").attr("class", "nrgbackgroundrect").attr("width", 100).attr("height", 20);

drawRedox(data3);
drawRedoxButtons(data3);

}); // end redox loader


function drawRedox(data3) {
	
	context.append("rect").attr("class", "ctxlinerect").attr("width", width).attr("height", 20)
		.attr("transform", "translate(0," + 20 + ")");
	
	context.append("g").attr("class", "axis axis--x").attr("transform", "translate(0," + 20 + ")").call(xAxis2);
	
	context.append("g").attr("class", "CTXGROUP")
		.attr("transform", "translate(0," + 20 + ")")
		.selectAll().data(data3).enter()
		.append("circle").attr("class", "CTXhighlight").attr("id", "CTXhighlight").attr("r", 6)
		.style("fill", "grey")
		.style("stroke", "grey")
		.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", 10);
	
	
	
context.append("g")
.attr("transform", "translate(0," + 20 + ")")
.attr("class", "brush").call(brush) .call(brush.move, xcontext.range());
context.select(".brush").append("rect").attr("class", "leftbookend").attr("width", xl).attr("height", 20);
context.select(".brush").append("rect").attr("class", "rightbookend").attr("width", ctxwidth).attr("height", 20);



// the weekly interval circles
redoxctx.append("g")
.attr("class", "CTXGROUP")
.selectAll().data(weeksarray).enter()
.append("circle").attr("class", "CTXweeklycircles")
.attr("r", 5)
.attr("cx", function(d) { return xfocus(d); })
.attr("cy", 95)
.on("mouseover", function(d) {
	rdxtooltip.transition().duration(200)
		.style("opacity", 0.9).style("color", "grey").style("background", "#f4f2f1").style("border-color", "grey");
	rdxtooltip .html("Weekly interval")
		.style("left", (d3.event.pageX - 50) + "px").style("top", (d3.event.pageY -20) + "px");
})
.on("mouseout", function(d) {       
	rdxtooltip.transition().duration(500).style("opacity", 0)
})


redoxctx.append("g").attr("class", "CTXGROUP").selectAll().data(data3).enter()
.append("text").attr("class", "CTXlabel").attr("id", "CTXlabel")
	//.style("fill", "none")
	.style("font-family", "Helvetica Neue,Helvetica,Arial,sans-serif")
	.style("font-size", 11)
	.style("stroke", "black")
	.style("stroke-width", 0.4)
.attr("x", function(d) { return xfocus(d.TEST_TIME) - 20; })
.attr("y", 65)
.text(function (d) { return d3.timeFormat("%b %d")(d.TEST_TIME);});


redoxctx.append("g").attr("class", "CTXGROUP").selectAll().data(data3).enter()
.append("circle").attr("class", "STRESSCTX").attr("id", "STRESSCTX").attr("r", 20)
.style("fill", function(d) { 
	//if(d.STRESS_INC > 0) {
		var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
		var tenpercent = diff * amberzone;
		
			if (d.STRESS >= d.STRESS_CDT) { return "url(#redtop)";
			} else { if(d.STRESS >= (d.STRESS_CDT - tenpercent)){ return "url(#ambertop)";
				} else { return "url(#greentop)"; }
			}
		
	//}else { return "#FBFBFB"; }
	})
.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", 95);



redoxctx.append("g").attr("class", "CTXGROUP").selectAll().data(data3).enter()
.append("circle").attr("class", "DEFENCECTX").attr("id", "DEFENCECTX").attr("r", 20)
	.style("fill", function(d) { 
	//if(d.DEFENCE_INC > 0) {
		var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
		var tenpercent = diff * amberzone;
		
			if (d.DEFENCE <= d.DEFENCE_CDT) { return "url(#redbottom)";
			} else { if(d.DEFENCE <= (d.DEFENCE_CDT + tenpercent)){ return "url(#amberbottom)";
						} else { return "url(#greenbottom)"; }
			}
		
	//} else { return "#FBFBFB"; }
	})
.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", 95)
.on("click", function(d,i) {
	
	d3.selectAll(".verticallines").style("stroke", "#e6e6e6").style("stroke-width", "1px");
	d3.selectAll(".CTXcircles").style("stroke", "#e6e6e6").style("stroke-width", "1px");
	d3.selectAll(".UPtriangles").style("fill", "none").style("stroke-width", "1px");
	
	d3.select("#vert" + d.TIME_KEY).style("stroke", "white").style("stroke-width", "5px");
	d3.select("#CTXcircle" + d.TIME_KEY).style("stroke", "white").style("stroke-width", "3px");
	d3.select("#UPtriangle" + d.TIME_KEY).style("fill", "white").style("stroke-width", "1px");
	
	var currentleft = xfocus.domain()[0].getTime();
	var currentright = xfocus.domain()[1].getTime();
	var halfwidth = (currentright - currentleft)/2;
	
	var newleftdate = new Date(d.TIME_KEY - halfwidth);
	var newrightdate = new Date(d.TIME_KEY + halfwidth);
	
	xcontext.domain([jan2016, fourMonthsahead]);
	xfocus.domain(xcontext.domain());
	
	xl = xfocus(newleftdate.getTime());
	xr = xfocus(newrightdate.getTime());
	
	redoxsvg.select(".zoom").transition().ease(d3.easeCubic).duration(1000)
	.call(zoom.transform, d3.zoomIdentity.scale(width / (xr - xl)).translate(-xl, 0));
	
	console.log("i is "+i);
	rdxval = i;
	document.cookie="rdxval="+ i +";";
	
	updateanswerfields(d);
		
	});





redoxfocus.append("path").datum(data3).attr("class", "rdxdangerzone").attr("id", "rdxdangerzone").attr("d", dangerarea(height3));
redoxfocus.append("path").datum(data3).attr("class", "rdxsafezone").attr("id", "rdxsafezone").attr("d", safearea);
redoxfocus.append("path").datum(data3).attr("class", "rdxamberzone").attr("id", "rdxdefenceamberzone").attr("d", defenceamberarea);
redoxfocus.append("path").datum(data3).attr("class", "rdxamberzone").attr("id", "rdxstressamberzone").attr("d", stressamberarea);
redoxfocus.append("g").attr("class", "Rdxaxis Rdxaxis--y").call(yAxisRdx);
// removing the zero tick from the y-axis
redoxfocus.selectAll(".tick").each(function(d) {if(d===0) {this.remove();}});

redoxfocus.selectAll(".tick text")  // select all the text elements for the xaxis
.attr("transform", function(d) {
   return "translate(" + 0 + "," + 5 + ")";
});






redoxctx.append("g")
.attr("class", "CTXGROUP")
.selectAll().data(data3).enter()
.append("circle").attr("class", "CTXcircles")
.attr("id", function(d) { return "CTXcircle" + d.TIME_KEY; }) 
.attr("r", 21)
.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", 95);

redoxfocus.append("g")
.attr("transform", "translate(0," + -25 + ")")
.selectAll('.verticallines').data(data3).enter()
.append("line").attr("class", "verticallines")
.attr("id", function(d) { return "vert" + d.TIME_KEY; }) 
.attr("x1", function(d) { return xfocus(d.TEST_TIME);})
.attr("y1", height3 + 30)
.attr("x2", function(d) { return xfocus(d.TEST_TIME);})
.attr("y2", 0);

// adding the triangles along the bottom
redoxfocus.append("g")
.selectAll('.highlighttriangles').data(data3).enter()
.append("path").attr("class", "UPtriangles")
.attr("id", function(d) { return "UPtriangle" + d.TIME_KEY; })

.attr("d", d3.symbol().type(d3.symbolTriangle).size(200))
.attr("transform", function(d) { return "translate(" + xfocus(d.TEST_TIME) + "," + (height3 -6)  + ")"});



redoxfocus.append("rect").attr("class", "zoom").attr("width", width).attr("height", height3 + rdx_margins.top).call(zoom);


redoxfocus.append("path").datum(data3).attr("class", "defenceline").attr("id", "defenceline").attr("d", defenceline);
redoxfocus.append("path").datum(data3).attr("class", "defenceadjline").attr("id", "defenceadjline").attr("d", defenceadjline);


// stress(STRESS)
redoxfocus.append("path").datum(data3).attr("class", "stressline").attr("id", "stressline").attr("d", stressline);
redoxfocus.append("path").datum(data3).attr("class", "stressadjline").attr("id", "stressadjline").attr("d", stressadjline);
redoxfocus.append("g").attr("class", "STRESSGROUP").selectAll().data(data3).enter()
.append("circle").attr("class", "STRESS").attr("id", "STRESS").attr("r", 10)
.style("fill", function(d) { 
	if(d.STRESS_INC > 0) {
		var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
		var tenpercent = diff * amberzone;
		if (d.STRESS >= d.STRESS_CDT) { return "red";
		} else {
			if(d.STRESS >= (d.STRESS_CDT - tenpercent)){ return "orange";
			} else { return "green"; }
		}
	}else { return "#FBFBFB"; }
	})
.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.STRESS); })
	.on("mouseover", function(d) {
		rdxtooltip.transition().duration(200)
			.style("opacity", 0.9).style("color", "purple").style("background", "#FEE6FF").style("border-color", "purple");
		rdxtooltip .html("Stress : " + (parseFloat(d.STRESS)))
			.style("left", (d3.event.pageX - 50) + "px").style("top", (d3.event.pageY -50) + "px");
		})
	.on("mouseout", function(d) {       
		rdxtooltip.transition().duration(500).style("opacity", 0)
	})

.on("click", function(d) {
	linktip
	.style("opacity", 0).style("color", "none").style("background", "rgba(128,0,128, 0.1)").style("border-color", "none").style("z-index", 99999);
	linktip .html("<form id='fordtoggle' action='@routes.Application.updateRedoxToggleState(player.playernumber, category)' method='POST'  enctype='multipart/form-data' >"
		+"<input id='timekey' type='text' name='timekey' value='"+d.TIME_KEY+"'/>"
		+"<button>Toggle</button></form> ") 
	.style("left", "200px").style("top", "50px");
	document.getElementById("fordtoggle").submit();
});


//Defence(DEFENCE)
redoxfocus.append("g").attr("class", "DEFENCEGROUP").selectAll().data(data3).enter()
.append("circle").attr("class", "DEFENCE").attr("id", "DEFENCE").attr("r", 10)
.style("fill", function(d) { 
	if(d.DEFENCE_INC > 0) { 
		var diff = Math.abs(d.STRESS_CDT - d.DEFENCE_CDT);
		var tenpercent = diff * amberzone; 
		if (d.DEFENCE <= d.DEFENCE_CDT) { return "red";
		} else {
			if(d.DEFENCE <= (d.DEFENCE_CDT + tenpercent)){ return "orange";
			} else { return "green"; }
		}
	}else { return "#FBFBFB"; }
}) 
.attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.DEFENCE); })

.on("mouseover", function(d) {
	rdxtooltip.transition().duration(200)
			.style("opacity", 0.9).style("color", "blue").style("background", "#D0D8FF").style("border-color", "blue");
	rdxtooltip .html("Defence : " + (parseFloat(d.DEFENCE)))
			.style("left", (d3.event.pageX - 50) + "px").style("top", (d3.event.pageY +30) + "px");
		})
	.on("mouseout", function(d) {       
		rdxtooltip.transition().duration(500).style("opacity", 0)
	})

.on("click", function(d) {
	linktip.style("opacity", 0).style("color", "none").style("background", "rgba(128,0,128, 0.1)").style("border-color", "none").style("z-index", 99999);
	linktip .html("<form id='fordtoggle' action='@routes.Application.updateRedoxToggleState(player.playernumber, category)' method='POST'  enctype='multipart/form-data' >"
		+"<input id='timekey' type='text' name='timekey' value='"+d.TIME_KEY+"'/>"
		+"<button>Toggle</button></form> ") 
	.style("left", "200px").style("top", "50px");
	document.getElementById("fordtoggle").submit();
});





d3.select("#nrgsvg").append("rect").attr("class", "nrgforegroundrect");

// default selection of last reading on page load
console.log("rdxval is "+rdxval);
updateanswerfields(data3[rdxval]);

function updateanswerfields(d) {
	
	d3.select("#rdxid").attr("value", function(){ return d.id;});
	
	// highlighting the selected data point
	d3.select("#vert" + d.TIME_KEY).style("stroke", "white").style("stroke-width", "5px");
	d3.select("#CTXcircle" + d.TIME_KEY).style("stroke", "white").style("stroke-width", "3px");
	d3.select("#UPtriangle" + d.TIME_KEY).style("fill", "white").style("stroke-width", "1px");
	
	// reset the fields first
	d3.select("#EATENVALUE").attr("class", "glyphicon glyphicon-question-sign");
	d3.select("#TRAINEDVALUE").attr("class", "glyphicon glyphicon-question-sign");
	d3.select("#ILLVALUE").attr("class", "glyphicon glyphicon-question-sign");
	d3.select("#INJUREDVALUE").attr("class", "glyphicon glyphicon-question-sign");
	
	
	if(d.AteToday === "Not Known") { 
		d3.select("#EATENVALUE").attr("class", "glyphicon glyphicon-question-sign");
	} 
	if(d.AteToday === "Yes" || d.AteToday === "yes") { 
		d3.select("#EATENVALUE").attr("class","glyphicon glyphicon-ok");
	}
	if(d.AteToday === "No" || d.AteToday === "no") { 
		d3.select("#EATENVALUE").attr("class", "glyphicon glyphicon-remove");
	}
	
	if(d.TrainedToday === "Not Known") { 
		d3.select("#TRAINEDVALUE").attr("class", "glyphicon glyphicon-question-sign");
	} 
	if(d.TrainedToday === "Yes" || d.TrainedToday === "yes") { 
		d3.select("#TRAINEDVALUE").attr("class","glyphicon glyphicon-ok");
	}
	if(d.TrainedToday === "No" | d.TrainedToday === "no") { 
		d3.select("#TRAINEDVALUE").attr("class", "glyphicon glyphicon-remove");
	}
	
	if(d.Ill === "Not Known") { 
		d3.select("#ILLVALUE").attr("class", "glyphicon glyphicon-question-sign");
	} 
	if(d.Ill === "Yes" || d.Ill === "yes") { 
		d3.select("#ILLVALUE").attr("class","glyphicon glyphicon-ok");
	}
	if(d.Ill === "No" | d.Ill === "no") { 
		d3.select("#ILLVALUE").attr("class", "glyphicon glyphicon-remove");
	}
	
	if(d.Injured === "Not Known") { 
		d3.select("#INJUREDVALUE").attr("class", "glyphicon glyphicon-question-sign");
	} 
	if(d.Injured === "Yes" || d.Injured === "yes") { 
		d3.select("#INJUREDVALUE").attr("class","glyphicon glyphicon-ok");
	}
	if(d.Injured === "No" | d.Injured === "no") { 
		d3.select("#INJUREDVALUE").attr("class", "glyphicon glyphicon-remove");
	}
	
	//resetting
	d3.selectAll(".testauto").style("height", "0px");
	//d3.select("#FEVERSURROUND").style("height", "0px");
	d3.select("#FEVER").text(function() { return ""});
	d3.select("#FEVERVALUE").text(function() { return ""});
	//d3.select("#COLDSORESURROUND").style("height", "0px");
	d3.select("#COLDSORE").text(function() { return ""});
	d3.select("#COLDSOREVALUE").text(function() { return ""});
	//d3.select("#HEADACHESURROUND").style("height", "0px");
	d3.select("#HEADACHE").text(function() { return ""});
	d3.select("#HEADACHEVALUE").text(function() { return ""});
	d3.select("#JMACHE").text(function() { return ""});
	d3.select("#JMACHEVALUE").text(function() { return ""});
	d3.select("#DIARRHEA").text(function() { return ""});
	d3.select("#DIARRHEAVALUE").text(function() { return ""});
	d3.select("#OTHER").text(function() { return ""});
	d3.select("#OTHERVALUE").text(function() { return ""});
	//PRACTICEVALUE
	//ExerciseGymYesterday
	if(d.Fever !== "") {
		d3.select("#FEVER").text(function() { return "Fever"});
		d3.select("#FEVERVALUE").text(function() { return d.Fever});
		//FEVERSURROUND
		d3.select("#FEVERSURROUND").style("height", "20px");
	} 
	
	if(d.SoreThroat !== "") {
		d3.select("#COLDSORE").text(function() { return "Cold/Sore Throat"});
		d3.select("#COLDSOREVALUE").text(function() { return d.SoreThroat});
		d3.select("#COLDSORESURROUND").style("height", "20px");
		//d3.select("#SYMPTOMS").attr("height", 85);
	} 
	
	if(d.Headache !== "") {
		d3.select("#HEADACHE").text(function() { return "Headache"});
		d3.select("#HEADACHEVALUE").text(function() { return d.Headache});
		d3.select("#HEADACHESURROUND").style("height", "20px");
		//d3.select("#SYMPTOMS").attr("height", 105);
	} 
	
	if(d.JointorMuscleAche !== "") {
		d3.select("#JMACHE").text(function() { return "Joint/Muscle Ache"});
		d3.select("#JMACHEVALUE").text(function() { return d.JointorMuscleAche});
		d3.select("#JMACHESURROUND").style("height", "20px");
	} 
	
	if(d.Diarrhea !== "") {
		d3.select("#DIARRHEA").text(function() { return "Diarrhea/Sickness"});
		d3.select("#DIARRHEAVALUE").text(function() { return d.Diarrhea});
		d3.select("#DIARRHEASURROUND").style("height", "20px");
	} 
	
	if(d.Other !== "") {
		d3.select("#OTHER").text(function() { return "Other"});
		d3.select("#OTHERVALUE").text(function() { return d.Other});
		d3.select("#OTHERSURROUND").style("height", "20px");
	} 
	
	
	
	
	//d3.select("#ACTIVITIESVALUE").text(function() {return d.Exercises});
	var activitiesnotes = d.Exercises.split(';');
	d3.selectAll(".ACTIVITIES").remove();
	for (var i = 0; i < activitiesnotes.length; i++){
		if(activitiesnotes[i] !== ""){
			d3.select("#ACTIVITIESVALUE").append("li").attr("class", "ACTIVITIES").text(function() {
				return activitiesnotes[i];
			});
		}
	}
	
	
	
	
	d3.select("#TESTERNOTESVALUE").text(function() {return d.testernotes});
	//
	
	
	//var nrgfill
	//if(d.EnergyLevel > 0) { nrgfill = (d.EnergyLevel * 100)/5;} else { nrgfill = 0;}

	d3.select(".nrgforegroundrect").attr("width", function() {
		return d.EnergyLevel > 0 ? (d.EnergyLevel * 100)/5 : 0;
	}).attr("height", 20);
	
	if(d.MuscleSoreness > 0 && d.MuscleSoreness >= 4) {
		d3.select("#MUSCSOREICON").attr("src", function(d){ return "/assets/images/emoticons/happy.png"; })
	}
	if(d.MuscleSoreness > 1 && d.MuscleSoreness >= 3) {
		d3.select("#MUSCSOREICON").attr("src", function(d){ return "/assets/images/emoticons/smile.png"; })
	}
	if(d.MuscleSoreness > 2 && d.MuscleSoreness >= 2) {
		d3.select("#MUSCSOREICON").attr("src", function(d){ return "/assets/images/emoticons/neutral.png"; })
	}
	if(d.MuscleSoreness > 3 && d.MuscleSoreness >= 1) {
		d3.select("#MUSCSOREICON").attr("src", function(d){ return "/assets/images/emoticons/sad.png"; })
	}
	if(d.MuscleSoreness > 4 && d.MuscleSoreness >= 0) {
		d3.select("#MUSCSOREICON").attr("src", function(d){ return "/assets/images/emoticons/crying.png"; })
	}
	
	var resultsarray = d.ResultShow.split(';');
	d3.selectAll(".resultsparas").remove();
	for (var i = 0; i < resultsarray.length; i++){
		d3.select("#RESULTSHOW").append("p").attr("class", "resultsparas").text(function() {
			return resultsarray[i];
		});	
	}
	
	
	var ssnotes = d.NOTES.split(';');
	d3.selectAll(".ORRECOSSTEXT").remove();
	for (var i = 0; i < ssnotes.length; i++){
		if(ssnotes[i] !== ""){
			d3.select("#ORRECOSSTEXT").append("li").attr("class", "ORRECOSSTEXT").text(function() {
				return ssnotes[i];
			});
		}
	}
	
	var ss = d.SS.split(';');
	d3.selectAll(".ORRECOSSNAME").remove();
	for (var i = 0; i < ss.length; i++){
		if(ss[i] !== ""){
			d3.select("#ORRECOSSNAME").append("li").attr("class", "ORRECOSSNAME").text(function() {
				return ss[i];
			});
		}
	}
	
	
	
	//d3.select("#ORRECOSSNAME").text(function() { return "Sports Scientist"; });
	
	var potoutsarray = d.POTOUT.split(';');
	d3.selectAll(".POTOUTS").remove();
	for (var i = 0; i < potoutsarray.length; i++){
		d3.select("#POTOUTS").append("li").attr("class", "POTOUTS").text(function() {
			return potoutsarray[i];
		});
			
	}
	
	var actionsarray = d.ACTION.split(';');
	d3.selectAll(".ACTIONS").remove();
	for (var i = 0; i < actionsarray.length; i++){
		d3.select("#ACTIONS").append("li").attr("class", "ACTIONS").text(function() {
			return actionsarray[i];
		});
			
	}
	
	var dietarray = d.DietAdvice.split(';');
	d3.selectAll(".DIETS").remove();
	for (var i = 0; i < dietarray.length; i++){
		var txt = dietarray[i].replace(/§/gi, ",");
		d3.select("#DIET").append("li").attr("class", "DIETS").text(function() {
			return txt;
		});
			
	}
	
	var trainloadarray = d.TrainingLoadAdvice.split(';');
	d3.selectAll(".TRAINLOADS").remove();
	for (var i = 0; i < trainloadarray.length; i++){
		var txt = trainloadarray[i].replace(/§/gi, ",");
		d3.select("#TRAININGLOAD").append("li").attr("class", "TRAINLOADS").text(function() {
			return txt;
		});
			
	}
	
	var sleeparray = d.Sleepadvice.split(';');
	d3.selectAll(".SLEEPS").remove();
	for (var i = 0; i < sleeparray.length; i++){
		
		var txt = sleeparray[i].replace(/§/gi, ",");
		d3.select("#SLEEP").append("li").attr("class", "SLEEPS").text(function() {
			return txt;
		});
			
	}
	
}

// sets the viewport to the last set in the cookie
redoxsvg.select(".zoom").call(zoom.transform, d3.zoomIdentity.scale(width / (xr - xl)).translate(-xl, 0));


} // end drawRedox()


function drawRedoxButtons(data3) {
var RDXFOCUS_showhide_button = redoxsvg.append("g").attr("class", "RDXDATA_Button")
.attr("transform", "translate("+30 + "," + 60 + ")");

RDXFOCUS_showhide_button.append("text").attr("id", "rdxbutton").attr("x", 8).attr("y", 15).attr("fill", "#464640")
	.text(function() {
	return RDXview_state? "-" : "+";
	});
	

var textWidth = RDXFOCUS_showhide_button.select("text").node().getBBox().width;
			
RDXFOCUS_showhide_button.append("rect").attr("rx", 4).attr("ry", 4)
	.attr("width", textWidth + 15).attr("height", 18)
	.attr("class", "showhidebuttons").attr("id", "RDXDATA_Button") 
	.on("click", function(){

	//showhideGPS focus panel()
	RDXview_state = !RDXview_state;
	document.cookie="rdxviewstate="+ RDXview_state +";";
	//d3.select(".showhidebuttons").style("stroke-width", RDXview_state ? 2 : 1);
	
	if(RDXview_state){
		redoxsvg.transition(d3.easeCubic).duration(1000).attr("height", redoxpane_h_open);
	} else {
		redoxsvg.transition(d3.easeCubic).duration(1000).attr("height", redoxpane_h_closed);
	}
	
	d3.selectAll("#rdxbutton").text(function(d) {return RDXview_state ? "-" : "+";});        	
	});


} // end drawRedoxButtons






function redrawRedox() {

redoxfocus.selectAll("#defenceline").attr("d", defenceline);
redoxfocus.selectAll("#defenceadjline").attr("d", defenceadjline);
redoxfocus.selectAll("#DEFENCE").attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.DEFENCE); });
redoxfocus.selectAll("#stressline").attr("d", stressline);
redoxfocus.selectAll("#stressadjline").attr("d", stressadjline);
redoxfocus.selectAll("#STRESS").attr("cx", function(d) { return xfocus(d.TEST_TIME); }).attr("cy", function(d) { return yfocus2(d.STRESS); });


redoxfocus.selectAll("#rdxdangerzone").attr("d", dangerarea(height3));
redoxfocus.selectAll("#rdxdefenceamberzone").attr("d", defenceamberarea);
redoxfocus.selectAll("#rdxstressamberzone").attr("d", stressamberarea);
redoxfocus.selectAll("#rdxsafezone").attr("d", safearea);

redoxfocus.selectAll(".verticallines").attr("x1", function(d) { return xfocus(d.TEST_TIME);}).attr("x2", function(d) { return xfocus(d.TEST_TIME);});
redoxfocus.selectAll('.UPtriangles').attr("transform", function(d) { return "translate(" + xfocus(d.TEST_TIME) + "," + (height3 -6) + ")"});

redoxctx.selectAll("#STRESSCTX").attr("cx", function(d) { return xfocus(d.TEST_TIME); });
redoxctx.selectAll("#DEFENCECTX").attr("cx", function(d) { return xfocus(d.TEST_TIME); });
redoxctx.selectAll(".CTXcircles").attr("cx", function(d) { return xfocus(d.TEST_TIME); });
redoxctx.selectAll("#CTXlabel").attr("x", function(d) { return xfocus(d.TEST_TIME) - 20; });
redoxctx.selectAll(".CTXweeklycircles").attr("cx", function(d) { 
	//console.log("xfocus of d is "+xfocus(d));
	return xfocus(d); 
	});

redoxsvg.attr("height", function(){ return RDXview_state? redoxpane_h_open : redoxpane_h_closed});

}  //end redrawRedox()






function redrawChart() {

datatip.transition().duration(200).style("opacity", 0);
gametip.transition().duration(200).style("opacity", 0);

redrawRedox();


redoxfocus.select(".axis--x").call(xAxis);
} // end redrawchart






function brushed() {

//console.log("brushing");
var s = d3.event.selection || xcontext.range();

if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") {
	//console.log("returning");
	document.cookie="xl="+ s[0] +";";
	document.cookie="xr="+ s[1] +";";
	xl = s[0];
	xr = s[1];
	return;
}
xfocus.domain(s.map(xcontext.invert, xcontext));

redrawChart();

// redoxsvg.select(".zoom").call(zoom.transform, d3.zoomIdentity
// 		  .scale(width / (s[1] - s[0]))
// 		  .translate(-s[0], 0));

context.select(".leftbookend").attr("width", s[0]);
context.select(".rightbookend").attr("x", s[1]);

} //end brushed


function zoomed() {
//console.log("zooming");
if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") { return;}
var t = d3.event.transform;

xfocus.domain(t.rescaleX(xcontext).domain());
var n = t.rescaleX(xcontext).domain();
redrawChart();

context.select(".brush").call(brush.move, xfocus.range().map(t.invertX, t));
context.select(".leftbookend").attr("width", xcontext(n[0]));
context.select(".rightbookend").attr("x", xcontext(n[1]));
} // end zoomed




d3.select(window).on('resize', resize);
function resize() {
// update width
windowwidth = parseInt(d3.select('#main_chart').style('width'), 10);
redoxpane_h_open = Math.max(((windowHeight/8)), max_rdxsvg_h);



d3.select('#redoxsvg').attr("width", windowwidth).attr("height", redoxpane_h_open);

width = +redoxsvg.attr("width") - gps_margin.left - gps_margin.right,
height = +redoxsvg.attr("height") - gps_margin.top - gps_margin.bottom,
height2 = +gpsdatasvg.attr("height") - context_margin.top - context_margin.bottom,
height3 = +redoxsvg.attr("height") - rdx_margins.top - rdx_margins.bottom;

 d3.select('#clip').attr("width", width).attr("height", height);
 d3.select('#cliprect').attr("width", width).attr("height", height);
 

xfocus.range([0, width]),
yfocus.range([height, 0]);
xcontext.range([0, ctxwidth]),
ycontext.range([height2, 0]);

checkcookie();


context.select(".axis--x").call(xAxis2);
redrawChart();

redoxsvg.select(".zoom").call(zoom.transform, d3.zoomIdentity
		  .scale(width / (xr - xl))
		  .translate(-xl, 0));


} // end resize



function checkcookie() {

//RDXview_state
if(document.cookie.indexOf("rdxviewstate") >= 0) {
	
	var cookiearray = document.cookie.split(';');
	
	for(var i=0; i<cookiearray.length; i++){
        if(cookiearray[i].split('=')[0].trim() === "rdxviewstate"){
        	
    		var setting = cookiearray[i].split('=')[1].trim();
    		if(setting === "true") {
    			RDXview_state = true;
    		} else {
    			RDXview_state = false;
    		}
        }
        
     }
	
} else {
	RDXview_state = true;
}

if(document.cookie.indexOf("xl") >= 0) {
	var lhs,rhs;
	var cookiearray = document.cookie.split(';');
	
	for(var i=0; i<cookiearray.length; i++){
        if(cookiearray[i].split('=')[0].trim() === "xl"){
        	
        
        	if(isNaN(cookiearray[i].split('=')[1].trim())){
        		console.log("Nan");
        		xl = threeweeksago;
        	} else {
        		xl = cookiearray[i].split('=')[1].trim();
        		//console.log("not Nan");
        	}
        	
        }
        if(cookiearray[i].split('=')[0].trim() === "xr") {
        	if(isNaN(cookiearray[i].split('=')[1].trim())){
        		xr = oneweekahead;
        	} else {
        		xr = cookiearray[i].split('=')[1].trim();
        	}
      	  xr = cookiearray[i].split('=')[1].trim();
        }
     }
	
} else {
	xl = threeweeksago;
	xr = oneweekahead;
}




if(document.cookie.indexOf("rdxval") >= 0) {
	
	var cookiearray = document.cookie.split(';');
	
	for(var i=0; i<cookiearray.length; i++){
        if(cookiearray[i].split('=')[0].trim() === "rdxval"){
        	
        	if(isNaN(cookiearray[i].split('=')[1].trim())){
        		console.log("rdxval is Nan");
        	} else {
        		rdxval = cookiearray[i].split('=')[1].trim();
        	}
        }
     }
	
} 


} // end checkcookie

(function ($) {
  $(document).ready(function(){

    // hide .navbar first
   //$(".navbar").hide();

    // fade in .navbar
    $(function () {
        $(window).scroll(function () {

                 // set distance user needs to scroll before we start fadeIn
            if ($(this).scrollTop() > 10) {
               // $('.navbar').fadeIn();
                $('.navbar').fadeOut();
            } else {
                //$('.navbar').fadeOut();
                $('.navbar').fadeIn();
            }
        });
    });

});
  }(jQuery));
	  
</script>
    
}