@import be.objectify.deadbolt.java.views.html.{restrict, restrictOr}
@import be.objectify.deadbolt.java.utils.TemplateUtils.{allOf, anyOf, allOfGroup}
@import tags._
@(user : models.User, active: String, player: models.Player, playerIndex: Integer, players: List[models.Player], category:String, categories: List[models.Category])


@main(title = "CoachCentral") {
    
      <div class="container-fluid" id="outer_container" style="background-color: #FBFBFB">
    @navigationbar(user: models.User, player: models.Player, active: String)
    
        
<style> 

#player_icon {
  position: relative;
  perspective: 1000;
}
#player_icon_card {
  width: 100%;
  height: 100%;
  
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  box-sizing: border-box;
  color: red;
  text-align: center;
  background-color: #aaa;
}
</style>





<!-- the panel below the pagination carousel -->
	
<div class="chart" class="container-fluid" id="main_chart"  style="border:1px solid #cecece; border-radius: 20px;
																	margin:20px;
																	background-color: white;
																	box-shadow: 0px 0px 10px grey;">


<div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="player_icon">

	  			<h4 style="margin-bottom: 5px; margin-top:5px;">
					<a href="@routes.RedoxController.redoxQ(player.playernumber, category)" class="thumbnail" style="margin-bottom: 0px;">
						<div>
						
						@if(player.playerPhoto != null){
							<img class="img-responsive" src="@routes.Application.playerPhoto(player.id)" alt="" style="margin: 0 auto; max-width:150px;height:150px"/>
						} else {
							<img class="img-responsive" src='@routes.Assets.at("images/player-headshot.png")' alt="" style="margin: 0 auto; max-width:150px;height:150px;"/>
						}
						</div>
						<div class="text-nowrap" style="text-align: center;">
							@player.playername
						</div>
					</a>
				</h4>
	  </div>
	  
	
</div><!-- end div player carousel row-->
		


<div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
<form id='rdxquestionnaire' action='@routes.RedoxController.saveRedox(player.playernumber, category)' method='POST'>
	


  <ul class="nav nav-pills nav-justified mypill" style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
    <li class="active progresspill" id="eatentrainedpill"><a data-toggle="pill" href="#eatentrained">Eaten/Trained</a></li>
    <li class="progresspill" id="symptomspill"><a data-toggle="pill" href="#symptoms">Symptoms</a></li>
<!--     <li class="progresspill" id="exercisespill"><a data-toggle="pill" href="#exercises">Exercise</a></li> -->
    <li class="progresspill" id="energymusclesorepill"><a data-toggle="pill" href="#energymusclesore">Energy/Muscle Soreness</a></li>
  	<li class="progresspill" id="testerpill"><a data-toggle="pill" href="#testresult">Test Results</a></li>
  </ul>
  
  <div class="tab-content">
    
    <div id="eatentrained" class="tab-pane fade in active">
    <br>
    <div>
	    <div class="row">
	    
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
			      <p>Have you eaten this morning?</p>
			    </label>
			    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			      <input type="radio" name="eaten" value="yes">YES
			    </label>
			    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			      <input type="radio" name="eaten" value="no">NO
			    </label>
			    <label class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

			    </label>
		  	
		</div>
		
		<br><br>
		
		<div class="row">
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
		      <p>Have you exercised today?</p>
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input class="myradio" type="radio" name="exercise" value="yes">YES
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input type="radio" name="exercise" value="no">NO
		    </label>
		    <label class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
			</label>
		</div>
		
		<br><br>
		
     	<div class="row">
	     	<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
				What exercise did you do yesterday?
			</label>
			
				<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
					    	<input type="checkbox" name="gym" id="gymcheck">
					    </div>
					    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
					    	<label for="gymcheck">Gym/Weights</label>
					    </div>
				  	</div>
			    </div>	
			    
			    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
				    <div class="row">
				    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
				      		<input type="checkbox" name="practice" id="practicecheck">
				      	</div>
				      	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
				      		<label for="practicecheck">Practice/Training</label>
				      	</div>
				    </div>
			    </div>
			    
			    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			    
			    	<div class="row">
				    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
			      			<input type="checkbox" name="game" id="gamecheck">
			      		</div>
			      		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			      			<label for="gamecheck">Game</label>
			      		</div>
			    	</div>
			    </div>
			    
			    
			    <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
			    	<div class="row">
				    	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
				    		<input type="checkbox" name="rest" id="restcheck">
			      		</div>
			      		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			      			<label for="restcheck">Rest/None</label>
			      		</div>
			   		</div>
			   </div>
			   
			   
			   
		   </div>
		   
		 <div class="row">
		 		<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			   </label>
			   
			   <label class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			      	<input type="text" name="otherexercises" style="display:table-cell; width:100%" placeholder="list any other exercises here">
			    </label>
		</div>
	<br><br>
	<div class="row">
		<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</label>
		<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
<!-- 			<a onclick="updateTab('symptomspill')" data-toggle="pill" href="#symptoms" style="pointer-events: none; cursor: default;"><< Back</a> -->
		</label>
		<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
			<a onclick="updateTab('symptomspill')" data-toggle="pill" href="#symptoms" style="float: right;">Next >></a>
		</label>
		<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
		</label>
	</div>
	</div> <!-- end floatingboxleft -->
    </div> <!-- end eatentrained -->
    
    
    
    
<div id="symptoms" class="tab-pane fade">
    
		<br>
      <div>
	      	<div class="row">
		      	<label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt">
					Have you had any of these symptoms today or in the last week?
				</label>
			</div>
			<br><br>
			<div class="row">
				
					<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt">
				      Fever
				    </label>
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				      <input type="checkbox" name="fevertoday">Today
				    </label>
				    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				      <input type="checkbox" name="feverlastweek">In the last week
				    </label>
				    <label class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
					</label>
			    
			</div>
			
			<div class="row">
				
					<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt">
				      Cold/Sore Throat
				    </label>
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				      <input type="checkbox" name="coldtoday">Today
				    </label>
				    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				      <input type="checkbox" name="coldlastweek">In the last week
				    </label>
				    <label class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
					</label>
			    
			</div>
			
			<div class="row">
				
					<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt">
				      Headache
				    </label>
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				      <input type="checkbox" name="headachetoday">Today
				    </label>
				    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				      <input type="checkbox" name="headachelastweek">In the last week
				    </label>
				    <label class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
					</label>
			    
			</div>
			
			<div class="row">
				
					<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt">
				      Joint/Muscle Ache
				    </label>
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				      <input type="checkbox" name="muscachetoday">Today
				    </label>
				    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				      <input type="checkbox" name="muscachelastweek">In the last week
				    </label>
				    <label class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
					</label>
			    
			</div>
			
			<div class="row">
				
					<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt">
				      Diarrhea/Sickness
				    </label>
				    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				      <input type="checkbox" name="sicktoday">Today
				    </label>
				    <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				      <input type="checkbox" name="sicklastweek">In the last week
				    </label>
				    <label class="col-xs-0 col-sm-0 col-md-0 col-lg-0">
					</label>
			    
			</div>
			
				<br><br>
			<div class="row">
				<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</label>
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
					<a onclick="updateTab('eatentrainedpill')" data-toggle="pill" href="#eatentrained"><< Back</a>
				</label>
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
					<a onclick="updateTab('energymusclesorepill')" data-toggle="pill" href="#energymusclesore" style="float: right;">Next >></a>
				</label>
				<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</label>
			</div>
		
    </div>
    </div>
        
    
 
    <div id="energymusclesore" class="tab-pane fade">
	<br>
      	<div class="row">
      	
	      	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<svg id="nrgslidersvg"></svg>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<svg id="muscslidersvg"></svg>
			</div>
		</div>
		<br><br><br>
		
			<div class="row">
				<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</label>
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
					<a onclick="updateTab('symptomspill')" data-toggle="pill" href="#symptoms"><< Back</a>
				</label>
				<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
					<a onclick="updateTab('testerpill')" data-toggle="pill" href="#testresult" style="float: right;">Next >></a>
				</label>
				<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				</label>
			</div>
		
    </div>
    
    
    
    <div id="testresult" class="tab-pane fade">
<br>
      	
      	<div class="row">
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
		      Reported illness in the last week?
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input class="myradio" type="radio" name="illness" value="yes">YES
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input type="radio" name="illness" value="no">NO
		    </label>
		    <label class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
			</label>
		</div>
		
		<br><br>
		
		<div class="row">
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
		      Reported injury in the last week?
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input class="myradio" type="radio" name="injury" value="yes">YES
		    </label>
		    <label class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
		      <input type="radio" name="injury" value="no">NO
		    </label>
		    <label class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
			</label>
		</div>
		
		<br><br>
      	
      	<div class="row">
		 		<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		 		Tester notes
			   </label>
			   
			   <label class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<textarea rows="4" cols="50" name="notes" form="rdxquestionnaire"></textarea>
			    </label>
		</div>
		
		<br><br>
		
		<div class="row">
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
		      FORT Result
		    </label>
		    <label class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		      <input class="myradio" style="display:table-cell; width:100%" type="number" step="0.01" min="0" max="5" name="stress" placeholder="fort reading">
		    </label>
		</div>
   
   <br><br>
   
   		<div class="row">
			<label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 txt">
		      FORD Result
		    </label>
		    <label class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		      <input class="myradio" style="display:table-cell; width:100%" type="number" step="0.01" min="0" max="5" name="defence" placeholder="ford reading">
		    </label>
		</div>
		  
	<br>   
	
		<div class="row">
			<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<input type="hidden" name="playerno" value="@player.playernumber">
    <input type="hidden" name="nrglevel" id="nrgform" value='0'>
    <input type="hidden" name="musclevel" id="muscform" value='0'>
			</label>
			<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
				<a onclick="updateTab('energymusclesorepill')" data-toggle="pill" href="#energymusclesore"><< Back</a>
			</label>
			<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-centered">
				<button class="btn btn-success" style="float: right;">Save</button>
<!-- 				<a onclick="updateTab('testerpill')" data-toggle="pill" href="#testresult" style="float: right;">Next >></a> -->
			</label>
			<label class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
			</label>
		</div>
			
			

	

    </div>
  </div>
  </form>
</div>
</div>



	
</div>









</div><!-- end  outer container-->
        
 <script>
 
 
 function updateTab(str) {
	 //d3.selectAll(".progresspill").classed("active", false);
	 d3.select("#"+str).classed("active", true);
	}
 
	
	
 var nrgslidersvg = d3.select("#nrgslidersvg").attr("width", 450).attr("height", 200),
 slider_margin = {top: 20, right: 20, bottom: 30, left: 70},
 slide_h = +nrgslidersvg.attr("height") - slider_margin.top - slider_margin.bottom;

 var xnrgslide = d3.scaleLinear()
 .domain([0, 5])
 .range([0, 300])
 .clamp(true);

 var yslidecolor = d3.scaleLinear()
 .domain([0,1,2,3,4,5])
 .range(["lightgrey","red", "orange", "lightgreen", "green", "darkgreen"])
 .clamp(true);

 var nrgslider = nrgslidersvg.append("g")
 .attr("class", "nrgslider")
 .attr("transform", "translate(" + slider_margin.left + "," + 100 + ")");

 nrgslider.append("text").attr("class", "slidertext").attr("transform", "translate(20,-50)").text("Rate your energy levels");

 nrgslider.append("line")
 .attr("class", "nrgtrack")
 .attr("x1", xnrgslide.range()[1])
 .attr("x2", xnrgslide.range()[0])
 .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
 .attr("class", "nrgtrack-inset")
 .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
 .attr("class", "nrgtrack-overlay")
 .call(d3.drag()
     .on("start.interrupt", function() { nrgslider.interrupt(); })
     .on("start drag", function() { 
     	//d3.select(".track-inset").style("stroke", yslidecolor());
     	nrgtrackcolor(xnrgslide.invert(d3.event.x)); })
     .on("end", function() {
     	console.log(xnrgslide.invert(d3.event.x));
     	d3.select('#nrgform').attr("value", function(){
     		return xnrgslide.invert(d3.event.x);
     	});
     }));
     
   //var nrgtextarray = ["high", "Good", "OK", "Low", "Very low", ""];
   var nrgtextarray = ["", "Very low", "Low", "OK", "Good", "High"];
     
   nrgslider.insert("g", ".nrgtrack-overlay")
 .attr("class", "ticks")
 .attr("transform", "translate(0," + 50 + ")")
 .selectAll("text")
 .data(xnrgslide.ticks(5))
 .enter().append("text")
 .attr("x", xnrgslide)
 .attr("text-anchor", "right")
 .text(function(d, i) { 
 	return nrgtextarray[i];
 	});


 var nrghandle = nrgslider.insert("circle", ".nrgtrack-overlay")
 .attr("class", "nrgsliderhandle")
 .attr("r", 30);


 function nrgtrackcolor(c) {
	 if(c < 0.75){
		 c = 0.0;
	 }
 	nrghandle.attr("cx", xnrgslide(c));
 	d3.select(".nrgtrack-inset").style("stroke", yslidecolor(c));
 	}
 	



 var muscslidersvg = d3.select("#muscslidersvg").attr("width", 450).attr("height", 200),
 slider_margin = {top: 20, right: 20, bottom: 30, left: 70},
 slide_h = +muscslidersvg.attr("height") - slider_margin.top - slider_margin.bottom;


 var muscslider = muscslidersvg.append("g")
 .attr("class", "muscslider")
 .attr("transform", "translate(" + (slider_margin.left) + "," + 100 + ")");

 muscslider.append("text").attr("class", "slidertext").attr("transform", "translate(20,-50)").text("Rate your muscle soreness");

 var xmuscslide = d3.scaleLinear()
 .domain([0, 5])
 .range([0, 300])
 .clamp(true);

 muscslider.append("line")
 .attr("class", "musctrack")
 .attr("x1", xmuscslide.range()[1])
 .attr("x2", xmuscslide.range()[0])
 .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
 .attr("class", "musctrack-inset")
 .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
 .attr("class", "musctrack-overlay")
 .call(d3.drag()
     .on("start.interrupt", function() { muscslider.interrupt(); })
     .on("start drag", function() { 
     	//d3.select(".track-inset").style("stroke", yslidecolor());
     	musctrackcolor(xmuscslide.invert(d3.event.x)); })
     .on("end", function() {
     	console.log(xmuscslide.invert(d3.event.x));
     	d3.select('#muscform').attr("value", function(){
     		return xmuscslide.invert(d3.event.x);
     	});
     })
     );
     
   //var musctextarray = ["Feel great", "Not sore", "Average", "Sore", "Very sore", ""];
   var musctextarray = ["", "Very sore", "Sore", "Average", "Not sore", "Feel great", ""];
     
   muscslider.insert("g", ".musctrack-overlay")
 .attr("class", "ticks")
 .attr("transform", "translate(0," + 50 + ")")
 .selectAll("text")
 .data(xmuscslide.ticks(5))
 .enter().append("text")
 .attr("x", xmuscslide)
 .attr("text-anchor", "right")
 .text(function(d, i) { 
 	return musctextarray[i];
 	});


 var muschandle = muscslider.insert("circle", ".musctrack-overlay")
 .attr("class", "muscsliderhandle")
 .attr("r", 30);

 function musctrackcolor(c) {
	 if(c < 0.75){
		 c = 0.0;
	 }
 	muschandle.attr("cx", xnrgslide(c));
 	d3.select(".musctrack-inset").style("stroke", yslidecolor(c));
 	}

 //at page load, shows how the slider moves and returns to starting point
 nrgslider.transition()
 .duration(750)
 .tween("hue", function() {
   var i = d3.interpolate(0, 3);
   return function(t) { nrgtrackcolor(i(t)); };
 })
 .on("end", function(){

 	nrgslider.transition()
 	.duration(750)
 	.tween("hue", function() {
 	  var i = d3.interpolate(3, 0);

 	  return function(t) { nrgtrackcolor(i(t)); };
 	})
 	.on("end", function(){

 	muscslider.transition()
 	.duration(750)
 	.tween("hue", function() {
 	  var i = d3.interpolate(4, 0);

 	  return function(t) { musctrackcolor(i(t)); };
 	})});
 	
 });

 //at page load, shows how the slider moves and returns to starting point
 muscslider.transition()
 .duration(750)
 .tween("hue", function() {
   var i = d3.interpolate(0, 4);
   return function(t) { musctrackcolor(i(t)); };
 });


//  (function ($) {
// 	  $(document).ready(function(){

// 	    // hide .navbar first
// 	   //$(".navbar").hide();

// 	    // fade in .navbar
// 	    $(function () {
// 	        $(window).scroll(function () {

// 	                 // set distance user needs to scroll before we start fadeIn
// 	            if ($(this).scrollTop() > 10) {
// 	               // $('.navbar').fadeIn();
// 	                $('.navbar').fadeOut();
// 	            } else {
// 	                //$('.navbar').fadeOut();
// 	                $('.navbar').fadeIn();
// 	            }
// 	        });
// 	    });

// 	});
// 	  }(jQuery));
 
 </script>
        
        
}